<app-header titulo="Pedidos"></app-header>

<ion-segment value="opcion" (ionChange)="seleccionarOpcion($event)" scrollable color="success">


  <ion-segment-button value="En progreso" *ngIf="modo != 'ABM' && rolService.isCliente(usuario) || 
                                                  rolService.isEmpleado(usuario)">
    <ion-icon name="time-sharp"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="Solicitado" *ngIf="rolService.isEmpleadoMozo(usuario)">
    <ion-icon name="hand-left-sharp"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="Entregado" *ngIf="rolService.isEmpleadoMozo(usuario)">
    <ion-icon name="restaurant-sharp"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="Cerrado" *ngIf="rolService.isEmpleadoMozo(usuario) || 
                                              rolService.isJefe(usuario)">
    <ion-icon name="cash-sharp"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="Alta" *ngIf="rolService.isCliente(usuario)">
    <ion-icon name="add"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Baja" *ngIf="rolService.isCliente(usuario) && 
                                          pedidoElegido && 
                                          pedidoElegido.isActive">
    <ion-icon name="trash-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Modificar" *ngIf="rolService.isCliente(usuario) && 
                                                  pedidoElegido && 
                                                  pedidoElegido.isActive">
    <ion-icon name="create-sharp"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-content class="fondo">

  <app-listado-pedidos *ngIf="modo == 'Listado'" [pedidos]="pedidos"
                       (elegirPedido)="elegirPedido($event)" [opcion]="opcion">
  </app-listado-pedidos>

  <app-form-pedido *ngIf="modo == 'ABM'" [opcion]="opcion" [pedido]="pedidoElegido"></app-form-pedido>


</ion-content>