<app-header titulo="Menú Pedidos"></app-header>

<ion-segment value="Alta" (ionChange)="seleccionarOpcion($event)" scrollable color="success">
  <ion-segment-button value="Listado" *ngIf="!rolService.isCliente(usuario)">
    <ion-label>Pedidos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Alta">
    <ion-label>Alta</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Baja" *ngIf="pedidoElegido.isActive">
    <ion-label>Baja</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Modificación" *ngIf="pedidoElegido.isActive">
    <ion-label>Modificar</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="fondo">

  <app-listado-pedidos *ngIf="opcion == 'Listado'" [pedidos]="pedidos"
                       (elegirPedido)="elegirPedido($event)">
  </app-listado-pedidos>

  <app-form-pedido *ngIf="opcion != 'Listado'" [opcion]="opcion" [pedido]="pedidoElegido"></app-form-pedido>


</ion-content>