<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()" expand="block">
        <ion-icon size="large" slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <app-chat [mensajes]="mensajes" [mensaje]="mensaje"
            [idUsuario]="usuario.id"></app-chat>

</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-input name="mensaje" [(ngModel)]="textoAuxiliar" clearInput="true" clearOnEdit="true"></ion-input>
      <ion-button slot="end" (click)="enviar()" fill="clear" shape="round">
        <ion-icon color="secondary" name="send"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-toolbar>

</ion-footer>