<body class="fondo">
  <ion-header class="ion-no-border" translucent="true">
    <ion-card class="toolbar-card">
      <table style="width:100%;">
        <tr>
          <td class="toolbar-btn-back">
            <button class="btn-icon" (click)="volver()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </button>
          </td>
          <td class="toolbar-title">
            <ion-text>
              <label><b>Gestión de propinas</b></label>
            </ion-text>
          </td>
          <td style="height: 60px;">
            <button class="btn" (click)="agregarPropina()">
              <b>Agregar propina</b>
            </button>
          </td>
        </tr>
      </table>
    </ion-card>
  </ion-header>

  <ion-content class="content">

    <div class="container-list"  align="center">
      <!-- PROPINAS -->
      <ion-list-header color="translucent">
        <div align="center" style="width: 100%;">
          <br>
          <b style="color: white;">LISTA DE PROPINAS</b>
        </div>
      </ion-list-header>
      
  
        <div *ngIf="listaPropinas && listaPropinas.length === 0" class="list-empty" align="center">
          <h2>
            No hay propinas cargadas
          </h2>
        </div>
        
        <ion-item *ngFor="let propina of listaPropinas" class="list-item">
          <div class="container-item">
            <ion-item style="--background: none;width: 100%;">
              <table style="width: 100%;">
                <tr>
                  <td style="width: 26%;">
                    <h2 style="padding-left: 5%;"><b>{{propina.porcentaje}}%</b></h2>
                  </td>
                  <td style="width: 26%;" align="center">
                    <h3>
                      <ion-badge class="badge-{{propina.satisfaccion}}">
                        <b>{{propina.satisfaccion}}</b>
                      </ion-badge>
                    </h3>
                  </td>
                  <td align="center">
                    <table>
                      <tr>
                        <td>
                          <button class="btn-icon" style="color: rgb(0, 0, 0);" (click)="editarPropina(propina)">
                            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                          </button>
                        </td>
                        <td>
                          <button class="btn-icon" style="color: red;" (click)="eliminarPropina(propina)">
                            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                </tr>
              </table>
            </ion-item>
          </div>
        </ion-item>
        <br>
        <br>
      </div>
  </ion-content>
</body>