<div class="ion-activatable centrado">
  <ion-card color="dark">

    <ion-item>
      <ion-avatar *ngIf="jefe.foto && jefe.foto.url" slot="end" (click)="verFoto(jefe.foto)">
        <img [src]="jefe.foto.url">
      </ion-avatar>
      <ion-label>{{ jefe.nombre }} {{ jefe.apellido }}</ion-label>
    </ion-item>

    <ion-card-content color="dark">
      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>Tipo: {{ jefe.tipo }}</ion-label>
      </ion-chip>

      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>Correo Electrónico: {{ jefe.email }}</ion-label>
      </ion-chip>

      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>DNI: {{ jefe.dni }}</ion-label>
      </ion-chip>

      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>CUIL: {{ jefe.cuil }}</ion-label>
      </ion-chip>
    </ion-card-content>

  </ion-card>
</div>