<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <div id="container" class="contenido">
    <form #formulario="ngForm">
      <ion-list class="ion-no-padding">
        <ion-item color="dark">
          <ion-label>
            Nombre
          </ion-label>
          <ion-input type="text" name="nombre" [(ngModel)]="cliente.nombre" type="text"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label>
            Apellido
          </ion-label>
          <ion-input type="text" name="apellido" [(ngModel)]="cliente.apellido" type="text"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label>
            DNI
          </ion-label>
          <ion-input type="number" name="dni" [(ngModel)]="cliente.dni"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label>
            Email
          </ion-label>
          <ion-input type="email" name="email" [(ngModel)]="cliente.email"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label>
            Contraseña
          </ion-label>
          <ion-input type="password" name="password" [(ngModel)]="cliente.password"></ion-input>
        </ion-item>
        <ion-button size="large" (click)="onRegister()" expand="full" color="danger">Registro</ion-button>
      </ion-list>
    </form>

  </div>
</ion-content>