<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Nombre
    </ion-label>
    <ion-input type="text" [(ngModel)]="cliente.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Apellido
    </ion-label>
    <ion-input type="text" [(ngModel)]="cliente.apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      DNI
    </ion-label>
    <ion-input type="text" [(ngModel)]="cliente.dni"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input type="text" [(ngModel)]="cliente.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Contraseña
    </ion-label>
    <ion-input type="password" [(ngModel)]="cliente.password"></ion-input>
  </ion-item>
  <ion-item-divider>
    <ion-button size="large" (click)="onRegister()">Registro</ion-button>
    <!-- ion-button size="large" routerLink="/login">Login</ion-button -->
  </ion-item-divider>
</ion-content>