<form class="modal-content animate container" [formGroup]="registroForm" novalidate>
  <div class="form-group">
    <label>Alias:</label>
    <input class="form-control" formControlName="alias" type="text">
  </div>
  <div
    *ngIf="registroForm.controls['alias'].invalid && (registroForm.controls['alias'].dirty || registroForm.controls['alias'].touched)"
    class="alert alert-danger">
    <div *ngIf="registroForm.controls['alias'].errors.required">
      Alias is required.
    </div>
  </div>
  <div class="form-group">
    <label>Correo:</label>
    <input class="form-control" formControlName="correo" type="text">
  </div>
  <div
    *ngIf="registroForm.controls['correo'].invalid && (registroForm.controls['correo'].dirty || registroForm.controls['correo'].touched)"
    class="alert alert-danger">
    <div *ngIf="registroForm.controls['correo'].errors.required">
      Correo is required.
    </div>
    <div *ngIf="registroForm.controls['correo'].errors.pattern">
      Correo invalido.
    </div>
  </div>
  <div class="form-group">
    <label><b>Clave</b></label>
    <input class="form-control" type="password" formControlName="clave" minlength="6" type="text" required>
  </div>
  <div *ngIf="registroForm.controls['clave'].invalid && (clave.dirty || clave.touched)" class="alert alert-danger">
    <div *ngIf="clave.errors.required">
      Campo Requerido.
    </div>
    <div *ngIf="clave.errors.minlength">
      La clave debe tener mas de 6 caracteres.
    </div>
  </div>
  <button type="submit" [disabled]="registroForm.pristine || registroForm.invalid" class="btn btn-success">
    Registrarme
  </button>
  <button type="button" onclick="document.getElementById('id01').style.display='none'"
    class="btn btn-outline-danger">Cancelar
  </button>
</form>
<p>Form value: {{ registroForm.value | json }}</p>
<p>Form status: {{ registroForm.status | json }}</p>