<div class="ion-activatable centrado">
  <ion-card mode="ios" color="dark">
    <ion-card-header>
      <ion-card-title>Reserva: {{reserva.cliente.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Reservado para {{reserva.fechaInicio | date: 'shortDate'}} </ion-label>
      </ion-chip>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>A las {{reserva.fechaInicio | date: 'shortTime'}} hs</ion-label>
      </ion-chip>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Mesa Seleccionada: {{reserva.mesa.numero}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

</div>