<app-header titulo="Menú"></app-header>

<ion-segment value="Listado" (ionChange)="seleccionarOpcion($event)" scrollable color="success">
  <ion-segment-button value="Listado">
    <ion-label>Reservas</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Alta">
    <ion-label>Alta</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Baja" *ngIf="reservaElegida">
    <ion-label>Baja</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Modificación" *ngIf="reservaElegida">
    <ion-label>Modificar</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="fondo">

  <app-listado-reservas *ngIf="opcion == 'Listado'" [reservas]="listado" (elegirReserva)="elegirReserva($event)">
  </app-listado-reservas>
  <app-form-reserva *ngIf="opcion != 'Listado'" [pedido]="reservaElegida" [opcion]="opcion">
  </app-form-reserva>

</ion-content>