<app-header titulo="Menú"></app-header>

<ion-segment value="Listado" (ionChange)="seleccionarOpcion($event)" scrollable color="success">
  <ion-segment-button value="Listado">
    <ion-icon name="list-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Alta" *ngIf="rolService.isClienteAceptado(usuario)">
    <ion-icon name="add"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Baja" *ngIf="rolService.isClienteAceptado(usuario) && reservaElegida">
    <ion-icon name="trash-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Modificación" *ngIf="rolService.isClienteAceptado(usuario) && reservaElegida">
    <ion-icon name="create-sharp"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-content class="fondo">

  <app-listado-reservas *ngIf="opcion == 'Listado'" [reservas]="listado" (elegirReserva)="elegirReserva($event)">
  </app-listado-reservas>
  <app-form-reserva *ngIf="opcion != 'Listado'" [pedido]="reservaElegida" [opcion]="opcion">
  </app-form-reserva>

</ion-content>