<div class="ion-page" id="maincontent">
    <ion-header>
        <ion-toolbar color="fondo">
            <ion-buttons slot="start">
                <ion-menu-button menu="mainmenu"></ion-menu-button>
            </ion-buttons>
            <h3 class="titulo">!BIENVENIDOS!</h3>
        </ion-toolbar>
    </ion-header>
    <ion-content class="contenidoTotal">
        <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
            <img src="../../assets/icon/gifAnimado.gif" class="loading">
        </div>
        <ion-menu side="start" menuId="mainmenu" contentId="main" class='menu'>
            <ion-content class='menu-content'>
                <ion-list class='menu-content-list' *ngIf="perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'" align="center">
                    <ion-item class='menu-content-item'>
                        <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">
                        <ion-label>
                            <h2>Correo :</h2>
                            <p>{{infoUsuario.correo}}</p>
                            <h2>Perfil : </h2>
                            <p> {{infoUsuario.perfil}}</p>
                        </ion-label>
                    </ion-item>
                    <br>
                    <ion-button routerLink="/alta-supervisor" align="center" expand="block" color="cubiertos" shape="round">Registrar Dueño/Supervisor</ion-button>
                    <ion-button routerLink="/alta-empleado" align="center" expand="block" color="cubiertos" shape="round">Registrar Empleado</ion-button>
                    <ion-button routerLink="/alta-mesa" align="center" expand="block" color="cubiertos" shape="round">Registrar Mesa</ion-button>
                </ion-list>
                <ion-list class='menu-content-list' *ngIf="perfilUsuario == 'Metre'" align="center">
                    <ion-item class='menu-content-item'>
                        <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">
                        <ion-label>
                            <h2>Correo :</h2>
                            <p> {{infoUsuario.correo}}</p>
                            <h2>Perfil : </h2>
                            <p> {{infoUsuario.perfil}}</p>
                        </ion-label>
                    </ion-item>
                    <br>
                    <ion-button routerLink="/alta-cliente" align="center" expand="block" color="cubiertos" shape="round">Registrar Cliente</ion-button>
                </ion-list>
                <ion-list class='menu-content-list' *ngIf="perfilUsuario == 'Cliente'" align="center">
                    <ion-item class='menu-content-item'>
                        <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">
                        <ion-label>
                            <h2>Correo :</h2>
                            <p> {{infoUsuario.correo}}</p>
                            <h2>Perfil : </h2>
                            <p> {{infoUsuario.perfil}}</p>
                        </ion-label>
                    </ion-item>
                    <br>
                    <div *ngIf="informarEstadoMesa.seAsignoMesa == 'si'">
                        <ion-button color="danger" (click)="qrMesa()" expand="block" color="cubiertos" shape="round">QR Mesa</ion-button>
                    </div>
                    <div *ngIf="mostrarCuentaBoton == true">
                        <ion-button color="light" (click)="mostrarEncuestaLista()" expand="block" color="cubiertos" shape="round">Encuesta</ion-button>
                    </div>
                    <div *ngIf="mostrarBotonConsulta == true">
                        <ion-button color="light" (click)="botonMostrarConsulta(informarEstadoMesa.mesa)" expand="block" color="cubiertos" shape="round">Consulta</ion-button>
                    </div>
                    <div *ngIf="mostrarEncuestaBoton == true">
                        <ion-button color="light" (click)="mostrarCuentaLista()" expand="block" color="cubiertos" shape="round">Pedir cuenta</ion-button>
                    </div>
                </ion-list>
                <!--***********************************************************************************************************************-->
                <!-- Si es un cliente anonimo -->
                <ion-list class='menu-content-list' *ngIf="perfilUsuario == 'Anonimo'" align="center">
                    <ion-item class='menu-content-item'>
                        <img [src]="nombreAnonimo.foto " style=" height: 50%; width: 30%; ">
                        <ion-label>
                            <h2>Nombre :</h2>
                            <p> {{nombreAnonimo.nombre}}</p>
                            <h2>Perfil : </h2>
                            <p> {{nombreAnonimo.perfil}}</p>
                        </ion-label>
                    </ion-item>
                    <br>
                    <!--Agregar boton para escanear la mesa-->
                    <div *ngIf="informarEstadoMesa.seAsignoMesa == 'si'">
                        <ion-button color="danger" (click)="qrMesa()" expand="block" color="cubiertos" shape="round">QR Mesa</ion-button>
                    </div>
                    <div *ngIf="mostrarCuentaBoton == true">
                        <ion-button color="light" (click)="mostrarEncuestaLista()" expand="block" color="cubiertos" shape="round">Encuesta</ion-button>
                    </div>
                    <div *ngIf="mostrarBotonConsulta == true">
                        <ion-button color="light" (click)="botonMostrarConsulta(informarEstadoMesa.mesa)" expand="block" color="cubiertos" shape="round">Consulta</ion-button>
                    </div>
                    <div *ngIf="mostrarEncuestaBoton == true">
                        <ion-button color="light" (click)="mostrarCuentaLista()" expand="block" color="cubiertos" shape="round">Pedir Cuenta</ion-button>
                    </div>
                    <!--***********************************************************************************************************************-->
                </ion-list>
                <ion-list class='menu-content-list' *ngIf="perfilUsuario == 'Mozo'" align="center">
                    <ion-item class='menu-content-item'>
                        <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">
                        <ion-label>
                            <h2>Correo :</h2>
                            <p> {{infoUsuario.correo}}</p>
                            <h2>Perfil : </h2>
                            <p> {{infoUsuario.perfil}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-button (click)="mostrarConsultas()" align="center" expand="block" color="cubiertos" shape="round">Consultas
                        <ion-badge id="notifications-badge" *ngIf="contadorMozoConsulta != 0" color="danger">{{contadorMozoConsulta}}</ion-badge>
                    </ion-button>
                    <ion-button (click)="mostrarPedidos()" align="center" expand="block" color="cubiertos" shape="round">Pedidos pendientes
                        <ion-badge id="notifications-badge" *ngIf="contadorMozoPedidoPendiente != 0" color="danger">{{contadorMozoPedidoPendiente}}</ion-badge>
                    </ion-button>
                    <ion-button (click)="mostrarPedidosFinalizados()" align="center" expand="block" color="cubiertos" shape="round">Pedidos finalizados
                        <ion-badge id="notifications-badge" *ngIf="contadorMozoPedidoFinalizado != 0" color="danger">{{contadorMozoPedidoFinalizado}}</ion-badge>
                    </ion-button>
                    <ion-button (click)="mostrarCuentasPagadas()" align="center" expand="block" color="cubiertos" shape="round">Cuentas pagadas
                        <ion-badge id="notifications-badge" *ngIf="contadorMozoCuentaPagada != 0" color="danger">{{contadorMozoCuentaPagada}}</ion-badge>
                    </ion-button>
                </ion-list>
                <!--***********************************************************************************************************************-->
                <ion-list class='menu-content-list' *ngIf="perfilUsuario == 'Cocinero' || perfilUsuario == 'BarTender'" align="center">
                    <ion-item class='menu-content-item'>
                        <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">
                        <ion-label>
                            <h2>Correo :</h2>
                            <p> {{infoUsuario.correo}}</p>
                            <h2>Perfil : </h2>
                            <p> {{infoUsuario.perfil}}</p>
                        </ion-label>
                    </ion-item>
                    <br>
                    <ion-button routerLink="/alta-producto" align="center" expand="block" color="cubiertos" shape="round">Agregar Producto</ion-button>
                </ion-list>
            </ion-content>
            <ion-item color='cubiertos' (click)="cerrarSesion()">
                <ion-buttons slot="start">
                    <ion-menu-button menu="mainmenu"></ion-menu-button>
                    Cerrar Sesión
                </ion-buttons>
                <ion-label></ion-label>
            </ion-item>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
        <!-- CONTENIDO DEL MENU DE ADENTRO -->
        <div *ngIf="perfilUsuario == 'Mozo'">
            <div *ngIf="banderaMostrarPedidos == true">
                <ion-card *ngFor="let pedido of listaPedidos" style="background-color: #332920ea;">
                    <ion-card-content style="color: #ffffff;">La mesa {{pedido.mesa}} realizo el siguiente pedido:
                        <br>
                        <div *ngFor="let plato of pedido.platosPlato">
                            {{plato}} <br>
                        </div>
                        <div *ngFor="let plato of pedido.platosBebida">
                            {{plato}} <br>
                        </div>
                        <div *ngFor="let plato of pedido.platosPostre">
                            {{plato}} <br>
                        </div>
                        <h4>Tiempo total: {{pedido.tiempoTotal}}</h4>
                    </ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-button (click)="enviarPedidos(pedido.mesa)" expand="block" color="success">Enviar</ion-button>
                            </ion-col>
                            <ion-col col-6>
                                <ion-button (click)="cancelarPedido(pedido.mesa)" expand="block" color="danger">Cancelar</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </div>
            <div *ngIf="banderaMostrarCuentasPagadas == true">
                <ion-card *ngFor="let pagado of listaCuentasPagadas" style="background-color: #332920ea;">
                    <ion-card-content>La mesa {{pagado.mesa}} a pagado la cuenta.</ion-card-content>
                    <ion-button expand="block" color="success" (click)="liberarMesa(pagado.mesa)">Liberar mesa</ion-button>
                </ion-card>
            </div>
            <div *ngIf="banderaMostrarConsultas == true">
                <ion-card *ngFor="let espera of listaEspera" style="background-color: #332920ea;">
                    <ion-card-content style="color: #ffffff;">La mesa {{espera.mesa}} realizo la siguiente consulta:</ion-card-content>
                    <ion-card-content style="color: #ffffff;">{{espera.consultaDescripcion}}</ion-card-content>
                    <ion-input type="text" style="color: #ffffff;" [(ngModel)]="consultaMozo" placeholder="Respuesta"></ion-input>
                    <ion-button expand="block" (click)="consultaConExito(espera,consultaMozo)">Consulta con exito</ion-button>
                </ion-card>
            </div>
            <div *ngIf="mostrarPedidoFinalizado == true">
                <ion-card *ngFor="let pedidoFin of listaPedidosFinalizados" style="background-color: #332920ea;">
                    <ion-card-content style="color: #ffffff;">Los pedidos de la mesa {{pedidoFin.mesa}} estan preparados</ion-card-content>
                    <ion-card-content style="color: #ffffff;">
                        <div *ngFor="let plato of pedidoFin.platosPlato">
                            {{plato}} <br>
                        </div>
                        <div *ngFor="let plato of pedidoFin.platosBebida">
                            {{plato}} <br>
                        </div>
                        <div *ngFor="let plato of pedidoFin.platosPostre">
                            {{plato}} <br>
                        </div>
                    </ion-card-content>
                    <ion-button expand="block" color="success" (click)="enviarPedidoFinalizado(pedidoFin.mesa)">Enviar</ion-button>
                </ion-card>
            </div>
        </div>
        <!--*****************************************************************************************************-->
        <div *ngIf="perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'">
            <ion-card class="numeroMesa">
                <ion-card-content>
                    <h4 style="color:rgb(240, 240, 240); font-size: 20px;text-align: center;">Clientes pendientes</h4>
                </ion-card-content>
            </ion-card>
            <ion-card *ngFor="let usuario of listaUsuarios">
                <div *ngIf="usuario.perfil == 'Cliente'">
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img [src]="usuario.foto ">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>{{usuario.nombre}}</h3>
                            <p>{{usuario.apellido}}</p>
                            <p>{{usuario.correo}}</p>
                        </ion-label>
                    </ion-item>
                    <br>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-button color="success" (click)="organizarUsuario(usuario,'aceptado')" expand="block"> Aceptar</ion-button>
                            </ion-col>
                            <ion-col col-6>
                                <ion-button color="danger" (click)="organizarUsuario(usuario,'rechazado')" expand="block"> Rechazar</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-card>
        </div>
        <!--*****************************************************************************************************-->
        <div *ngIf="perfilUsuario == 'Metre'">
            <ion-card class="numeroMesa">
                <ion-card-content>
                    <h4 style="color:rgb(240, 240, 240); font-size: 20px;text-align: center;">Lista de espera </h4>
                </ion-card-content>
            </ion-card>
            <ion-card *ngFor="let mesa of listaEspera" style="background-color:  #332920cb; border-radius: 15px;">
                <div *ngIf="mesa.estadoMesa == 'enEspera'">
                    <ion-item color="transparent" style="background: transparent;">
                        <ion-avatar slot="end">
                            <img src="../../assets/icon/reloj.png">
                        </ion-avatar>
                        <ion-label>
                            <p style="color:rgb(240, 240, 240); font-size: 15px">Estado:
                                <span style="font-size: 15px; color: chocolate;"> {{mesa.estadoMesa}}</span>
                            </p> <br>
                            <p style="color:rgb(240, 240, 240); font-size: 15px;">Nombre:
                                <span style="font-size: 15px; color: chocolate;"> {{mesa.nombreUsuario}}</span>
                            </p> <br>
                            <p style="color:rgb(240, 240, 240); font-size: 15px;">Perfil:
                                <span style="font-size: 15px; color: chocolate;"> {{mesa.perfilUsuario}}</span>
                            </p>
                        </ion-label>
                    </ion-item>
                    <ion-card-content>
                        <ion-button color="success" (click)="comprobarMesas(mesa)" expand="block" color="light">Asignar mesa</ion-button>
                    </ion-card-content>
                </div>
            </ion-card>
        </div>
        <!--*****************************************************************************************************-->
        <!-- Si el perfil del usuario es ANONIMO  -->
        <div *ngIf="tieneCorreo != 'conCorreo'">
            <div *ngIf="informarEstadoMesa.seAsignoMesa == 'no'">
                <ion-button color="danger" (click)="listaEsperaQRAnonimo()" expand="block"> Escanear codigo</ion-button>
            </div>
            <div *ngIf="informarEstadoMesa.seAsignoMesa == 'si'">
                <ion-card class="numeroMesa">
                    <ion-card-content>
                        <h4 style="color:rgb(240, 240, 240); font-size: 20px;float: left;">Se le asigno la mesa: </h4>
                        <h4 style="color: coral; font-size: 20px;float: center;">{{informarEstadoMesa.mesa}}</h4>
                    </ion-card-content>
                </ion-card>
                <div *ngIf="mensajeEscanearMesa != true">
                    <br>
                    <ion-card style="background-color:  #332920cb; border-radius: 20px;">
                        <br>
                        <div class="animacionQr">
                            <img src="../../assets/icon/qr.png" alt="" width="100px" height="100px" class="centrarImagenes">
                        </div>
                        <ion-card-content>
                            <h4 style="color:rgb(240, 240, 240); font-size: 25px;float: left;">Para acceder a la lista de productos escanee el QR de la mesa presionando el boton del menu.</h4>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div *ngIf=" mostrarConsultaRealizada == true">
                    <!-- CLIENTE.-->
                    <ion-card style="background-color:  #332920cb; ">
                        <ion-card-content>
                            <h2 align="center" style="color: aliceblue;font-size: 20px;">Consulta</h2>
                        </ion-card-content>
                    </ion-card>
                    <ion-card *ngFor="let consulta of listaEspera" style="background-color:  #332920cb; ">
                        <ion-card-content style="color:rgb(240, 240, 240);">
                            Su consulta :
                            {{consulta.consultaDescripcion}}
                        </ion-card-content>
                        <ion-card-content style="color:rgb(240, 240, 240);">
                            Respuesta mozo :
                            {{consulta.consultaMozo}}
                        </ion-card-content>
                    </ion-card>
                </div>
                <div *ngIf="mostrarCuentaDiv == true">
                    <!-- CLIENTE.-->
                    <div class="ticket">
                        <div class="ticket__content">
                            <ion-card-content align="center" style="color: black; font-size: large; font-style: italic;">
                                CUENTA
                            </ion-card-content>
                            <ion-card-content *ngFor="let pedido of jsonCuenta.pedidos" style="color: black;">
                                {{pedido.nombreProducto}} -- ${{pedido.precioUnitario}}
                            </ion-card-content>
                            <ion-card-content style="color: black;">
                                {{propina}}
                            </ion-card-content>
                            <ion-card-content align="center" style="color: green; font-size: large; font-size: 25px;">
                                TOTAL = ${{jsonCuenta.precioTotal}}
                            </ion-card-content>
                        </div>
                    </div>
                    <ion-footer class="ion-no-border">
                        <br>
                        <ion-item color="transparent">
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-6>
                                        <ion-button color="success" (click)="pagarCuenta()" expand="block">Pagar</ion-button>
                                    </ion-col>
                                    <ion-col col-6>
                                        <ion-button color="warning" (click)="darPropina()" expand="block">Dar propina</ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                    </ion-footer>
                </div>
                <div *ngIf="mostrarEncuestaDiv == true">
                    <!-- ANONIMO -->
                    <ion-card style="background-color:  #332920cb; border-radius: 20px;">
                        <h2 align="center" style="color: #ffffff;">Encuesta</h2>
                        <div *ngIf="contadorInterno != 2">
                            <div style="margin: 1rem; position: relative; align-content: center;">
                                <ion-fab-button style="margin-left: 42%;" color="primary" color="light" horizontal="center" vertical="top" (click)="manejadorEncuesta()">
                                    <ion-icon name="camera-outline"></ion-icon>
                                </ion-fab-button>
                            </div>
                        </div>
                        <ion-slides pager="true">
                            <ion-slide>
                                <img [src]="jsonEncuesta.fotos[0]" style=" height: 45%; width: 45%">
                            </ion-slide>
                            <ion-slide>
                                <img [src]="jsonEncuesta.fotos[1]" style=" height: 45%; width: 45%">
                            </ion-slide>
                            <ion-slide>
                                <img [src]="jsonEncuesta.fotos[2]" style=" height: 45%; width: 45%">
                            </ion-slide>
                        </ion-slides>
                        <br>
                        <div style="color: #ffffff;" align="center">¿Qué le parecio nuesta app?</div>
                        <div align="center">
                            <span *ngIf="gradoSatisfaccion ==1" style="margin-left:10px;color: #ffffff;">Muy mala <span style="font-size: 150%;">😡</span></span>
                            <span *ngIf="gradoSatisfaccion==2 " style="margin-left:10px;color: #ffffff;">Mala <span style="font-size: 150%;">😠</span></span>
                            <span *ngIf="gradoSatisfaccion ==3" style="margin-left:10px;color: #ffffff;">Regular <span style="font-size: 150%;">😐</span></span>
                            <span *ngIf="gradoSatisfaccion==4 " style="margin-left:10px;color: #ffffff;">Buena <span style="font-size: 150%;">🙂</span></span>
                            <span *ngIf="gradoSatisfaccion == 5" style="margin-left:10px;color: #ffffff;">Muy buena <span style="font-size: 150%;">😊</span></span>
                        </div>
                        <ion-card-content>
                            <ion-item color="transparent" align="center">
                                <ion-range (ionChange)="cambioRango($event)" min="1" max="5" pin="true" color="light">
                                    <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                                    <ion-icon slot="end" name="sunny"></ion-icon>
                                </ion-range>
                            </ion-item>
                        </ion-card-content>
                        <div style="color: #ffffff;" align="center">¿Que le parecio el servicio del restaurante?</div>
                        <div align="center">
                            <span *ngIf="gradoSatisfaccionRes ==1" style="margin-left:10px;color: #ffffff;">Muy mala <span style="font-size: 150%;">😡</span></span>
                            <span *ngIf="gradoSatisfaccionRes==2 " style="margin-left:10px;color: #ffffff;">Mala <span style="font-size: 150%;">😠</span></span>
                            <span *ngIf="gradoSatisfaccionRes ==3" style="margin-left:10px;color: #ffffff;">Regular <span style="font-size: 150%;">😐</span></span>
                            <span *ngIf="gradoSatisfaccionRes==4 " style="margin-left:10px;color: #ffffff;">Buena <span style="font-size: 150%;">🙂</span></span>
                            <span *ngIf="gradoSatisfaccionRes == 5" style="margin-left:10px;color: #ffffff;">Muy buena <span style="font-size: 150%;">😊</span></span>
                        </div>
                        <ion-card-content>
                            <ion-item color="transparent">
                                <ion-range (ionChange)="cambioRangoRes($event)" min="1" max="5" pin="true" color="light">
                                    <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                                    <ion-icon slot="end" name="sunny"></ion-icon>
                                </ion-range>
                            </ion-item>
                        </ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <div *ngIf="contadorInterno == 2">
                                        <ion-button (click)="enviarEncuesta()" expand="block" color="success">Enviar</ion-button>
                                    </div>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-button (click)="verEncuestas()" expand="block" color="warning">Estadísticas</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </div>
                <div *ngIf="mostrarProductos == true">
                    <ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-button color="success" (click)="desplegarConsulta()" expand="block">Consultar mozo</ion-button>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-button color="warning" routerLink="/realizar-pedido" expand="block">Hacer pedido</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-card class="todoCompleto" *ngIf="deplegarConsultaMozo == true">
                        <ion-item style="background-color: #ffffff;" color="sucess">
                            <ion-label position="stacked" color="success" style="background-color: #ffffff;">Consulta:</ion-label>
                            <br>
                            <ion-input type="text" [(ngModel)]="consulta" placeholder="Consulta.." style="background-color: #ffffff;"></ion-input>
                        </ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-button (click)="consultarMozo(informarEstadoMesa.mesa)" expand="block" color="success">Enviar</ion-button>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-button (click)="cancelarConsulta()" expand="block" color="danger">Cancelar</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <div *ngFor="let producto of listaProductos">
                        <ion-card style="background-color: #332920ea;">
                            <h1 align="center" style="color: #ffffff;">{{producto.nombre}}</h1>
                            <ion-slides pager="true">
                                <ion-slide>
                                    <img [src]="producto.fotos[0]" alt="" width="100" height="100">
                                </ion-slide>
                                <ion-slide>
                                    <img [src]="producto.fotos[1]" alt="" width="100" height="100">
                                </ion-slide>
                                <ion-slide>
                                    <img [src]="producto.fotos[2]" alt="" width="100" height="100">
                                </ion-slide>
                            </ion-slides>
                            <h4 style="color: #c9c9c9">{{producto.descripcion}}</h4>
                            <p class="alineacion-derecha">Precio: <span class="precio">${{producto.precio}}</span> </p>
                            <p class="alineacion-derecha">Tiempo: <span class="tiempo">{{producto.tiempo}} minutos</span> </p>
                        </ion-card>
                    </div>
                </div>
            </div>
        </div>
        <!--*****************************************************************************************************-->
        <!-- Si el perfil del usuario es CLIENTE  -->
        <div *ngIf="perfilUsuario == 'Cliente'">
            <!-- Si el estado de la mesa del cliente no se asigno, se le mostrara el boton para escanear el codigo qr   -->
            <div *ngIf="informarEstadoMesa.seAsignoMesa == 'no'">
                <ion-button color="danger" (click)="listaEsperaQRCliente()" expand="block"> Escanear codigo</ion-button>
            </div>
            <!-- Si el estado de la mesa del cliente se asigno, se le mostrara la mesa que se le asigno   -->
            <div *ngIf="informarEstadoMesa.seAsignoMesa == 'si'">
                <ion-card class="numeroMesa">
                    <ion-card-content>
                        <h4 style="color:rgb(240, 240, 240); font-size: 20px;float: left;">Se le asigno la mesa: </h4>
                        <h4 style="color: coral; font-size: 20px;float: center;">{{informarEstadoMesa.mesa}}</h4>
                    </ion-card-content>
                </ion-card>
                <div *ngIf="mensajeEscanearMesa != true">
                    <br>
                    <ion-card style="background-color:  #332920cb; border-radius: 20px;">
                        <br>
                        <div class="animacionQr">
                            <img src="../../assets/icon/qr.png" alt="" width="100px" height="100px" class="centrarImagenes">
                        </div>
                        <ion-card-content>
                            <h4 style="color:rgb(240, 240, 240); font-size: 25px;float: left;">Para acceder a la lista de productos escanee el QR de la mesa presionando el boton del menu.</h4>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div *ngIf=" mostrarConsultaRealizada == true">
                    <!-- CLIENTE.-->
                    <ion-card style="background-color:  #332920cb; ">
                        <ion-card-content>
                            <h2 align="center" style="color: aliceblue;font-size: 20px;">Consulta</h2>
                        </ion-card-content>
                    </ion-card>
                    <ion-card *ngFor="let consulta of listaEspera" style="background-color:  #332920cb; ">
                        <ion-card-content style="color:rgb(240, 240, 240);">
                            Su consulta :
                            {{consulta.consultaDescripcion}}
                        </ion-card-content>
                        <ion-card-content style="color:rgb(240, 240, 240);">
                            Respuesta mozo :
                            {{consulta.consultaMozo}}
                        </ion-card-content>
                    </ion-card>
                </div>
                <div *ngIf="mostrarCuentaDiv == true">
                    <!-- CLIENTE.-->
                    <div class="ticket">
                        <div class="ticket__content">
                            <ion-card-content align="center" style="color: black; font-size: large; font-style: italic;">
                                CUENTA
                            </ion-card-content>
                            <ion-card-content *ngFor="let pedido of jsonCuenta.pedidos" style="color: black;">
                                {{pedido.nombreProducto}} -- ${{pedido.precioUnitario}}
                            </ion-card-content>
                            <ion-card-content style="color: black;">
                                {{propina}}
                            </ion-card-content>
                            <ion-card-content align="center" style="color: green; font-size: large; font-size: 25px;">
                                TOTAL = ${{jsonCuenta.precioTotal}}
                            </ion-card-content>
                        </div>
                    </div>
                    <ion-footer class="ion-no-border">
                        <br>
                        <ion-item color="transparent">
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-6>
                                        <ion-button color="success" (click)="pagarCuenta()" expand="block">Pagar</ion-button>
                                    </ion-col>
                                    <ion-col col-6>
                                        <ion-button color="warning" (click)="darPropina()" expand="block">Dar propina</ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                    </ion-footer>
                </div>
                <div *ngIf="mostrarEncuestaDiv == true">
                    <!-- CLIENTE -->
                    <ion-card style="background-color:  #332920cb; border-radius: 20px;">
                        <h2 align="center" style="color: #ffffff;">Encuesta</h2>
                        <div *ngIf="contadorInterno != 2">
                            <div style="margin: 1rem; position: relative; align-content: center;">
                                <ion-fab-button style="margin-left: 42%;" color="primary" color="light" horizontal="center" vertical="top" (click)="manejadorEncuesta()">
                                    <ion-icon name="camera-outline"></ion-icon>
                                </ion-fab-button>
                            </div>
                        </div>
                        <ion-slides pager="true">
                            <ion-slide>
                                <img [src]="jsonEncuesta.fotos[0]" style=" height: 45%; width: 45%">
                            </ion-slide>
                            <ion-slide>
                                <img [src]="jsonEncuesta.fotos[1]" style=" height: 45%; width: 45%">
                            </ion-slide>
                            <ion-slide>
                                <img [src]="jsonEncuesta.fotos[2]" style=" height: 45%; width: 45%">
                            </ion-slide>
                        </ion-slides>
                        <br>
                        <div style="color: #ffffff;" align="center">¿Qué le parecio nuesta app?</div>
                        <div align="center">
                            <span *ngIf="gradoSatisfaccion ==1" style="margin-left:10px;color: #ffffff;">Muy mala <span style="font-size: 150%;">😡</span></span>
                            <span *ngIf="gradoSatisfaccion==2 " style="margin-left:10px;color: #ffffff;">Mala <span style="font-size: 150%;">😠</span></span>
                            <span *ngIf="gradoSatisfaccion ==3" style="margin-left:10px;color: #ffffff;">Regular <span style="font-size: 150%;">😐</span></span>
                            <span *ngIf="gradoSatisfaccion==4 " style="margin-left:10px;color: #ffffff;">Buena <span style="font-size: 150%;">🙂</span></span>
                            <span *ngIf="gradoSatisfaccion == 5" style="margin-left:10px;color: #ffffff;">Muy buena <span style="font-size: 150%;">😊</span></span>
                        </div>
                        <ion-card-content>
                            <ion-item color="transparent" align="center">
                                <ion-range (ionChange)="cambioRango($event)" min="1" max="5" pin="true" color="light">
                                    <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                                    <ion-icon slot="end" name="sunny"></ion-icon>
                                </ion-range>
                            </ion-item>
                        </ion-card-content>
                        <div style="color: #ffffff;" align="center">¿Que le parecio el servicio del restaurante?</div>
                        <div align="center">
                            <span *ngIf="gradoSatisfaccionRes ==1" style="margin-left:10px;color: #ffffff;">Muy mala <span style="font-size: 150%;">😡</span></span>
                            <span *ngIf="gradoSatisfaccionRes==2 " style="margin-left:10px;color: #ffffff;">Mala <span style="font-size: 150%;">😠</span></span>
                            <span *ngIf="gradoSatisfaccionRes ==3" style="margin-left:10px;color: #ffffff;">Regular <span style="font-size: 150%;">😐</span></span>
                            <span *ngIf="gradoSatisfaccionRes==4 " style="margin-left:10px;color: #ffffff;">Buena <span style="font-size: 150%;">🙂</span></span>
                            <span *ngIf="gradoSatisfaccionRes == 5" style="margin-left:10px;color: #ffffff;">Muy buena <span style="font-size: 150%;">😊</span></span>
                        </div>
                        <ion-card-content>
                            <ion-item color="transparent">
                                <ion-range (ionChange)="cambioRangoRes($event)" min="1" max="5" pin="true" color="light">
                                    <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                                    <ion-icon slot="end" name="sunny"></ion-icon>
                                </ion-range>
                            </ion-item>
                        </ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <div *ngIf="contadorInterno == 2">
                                        <ion-button (click)="enviarEncuesta()" expand="block" color="success">Enviar</ion-button>
                                    </div>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-button (click)="verEncuestas()" expand="block" color="warning">Estadísticas</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </div>
                <div *ngIf="mostrarProductos == true">
                    <ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-button color="success" (click)="desplegarConsulta()" expand="block">Consultar mozo</ion-button>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-button color="warning" routerLink="/realizar-pedido" expand="block">Hacer pedido</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-card class="todoCompleto" *ngIf="deplegarConsultaMozo == true">
                        <ion-item style="background-color: #ffffff;" color="sucess">
                            <ion-label position="stacked" color="success" style="background-color: #ffffff;">Consulta:</ion-label>
                            <br>
                            <ion-input type="text" [(ngModel)]="consulta" placeholder="Consulta.." style="background-color: #ffffff;"></ion-input>
                        </ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-button (click)="consultarMozo(informarEstadoMesa.mesa)" expand="block" color="success">Enviar</ion-button>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-button (click)="cancelarConsulta()" expand="block" color="danger">Cancelar</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <div *ngFor="let producto of listaProductos">
                        <ion-card style="background-color: #332920ea;">
                            <h1 align="center" style="color: #ffffff;">{{producto.nombre}}</h1>
                            <ion-slides pager="true">
                                <ion-slide>
                                    <img [src]="producto.fotos[0]" alt="" width="100" height="100">
                                </ion-slide>
                                <ion-slide>
                                    <img [src]="producto.fotos[1]" alt="" width="100" height="100">
                                </ion-slide>
                                <ion-slide>
                                    <img [src]="producto.fotos[2]" alt="" width="100" height="100">
                                </ion-slide>
                            </ion-slides>
                            <h4 style="color: #c9c9c9">{{producto.descripcion}}</h4>
                            <p class="alineacion-derecha">Precio: <span class="precio">${{producto.precio}}</span> </p>
                            <p class="alineacion-derecha">Tiempo: <span class="tiempo">{{producto.tiempo}} minutos</span> </p>
                        </ion-card>
                    </div>
                </div>
            </div>
        </div>
        <!--*****************************************************************************************************-->
        <!-- Si el perfil del usuario es COCINERO  -->
        <div *ngIf="perfilUsuario == 'Cocinero'">
            <ion-card class="numeroMesa">
                <ion-card-content>
                    <h4 style="color:rgb(240, 240, 240); font-size: 20px;text-align: center;">Pedidos a elaborar</h4>
                </ion-card-content>
            </ion-card>
            <ion-card *ngFor="let pedido of listaPedidoCocinero" style="background-color:  #332920cb; border-radius: 20px;">
                <ion-card-content style="color: snow; font-size: 20px;">
                    <div>
                        Mesa: {{pedido.mesa}}
                        <br>
                        Pedidos:
                    </div>
                    <div *ngFor="let plato of pedido.platosPlato">
                        {{plato}}<br>
                    </div>
                    <div *ngFor="let postre of pedido.platosPostre">
                        {{postre}}
                    </div>
                    <div *ngIf="pedido.estadoChef == 'enProceso'">
                        <ion-button color="success" (click)="elaborarPedido(pedido.mesa,'enPreparacion','Cocinero')" expand="block">Elaborar</ion-button>
                    </div>
                    <div *ngIf="pedido.estadoChef == 'enPreparacion'">
                        <ion-button color="danger" (click)="elaborarPedido(pedido.mesa,'finalizado','Cocinero')" expand="block">Enviar</ion-button>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
        <!--*****************************************************************************************************-->
        <!-- Si el perfil del usuario es BAR TENDER  -->
        <div *ngIf="perfilUsuario == 'BarTender'">
            <ion-card class="numeroMesa">
                <ion-card-content>
                    <h4 style="color:rgb(240, 240, 240); font-size: 20px;text-align: center;">Pedidos a elaborar</h4>
                </ion-card-content>
            </ion-card>
            <ion-card *ngFor="let pedido of listaPedidoBartender" style="background-color:  #332920cb; border-radius: 20px;">
                <ion-card-content style="color: snow; font-size: 20px;">
                    <div>
                        Mesa: {{pedido.mesa}}
                        <br>
                        Pedidos:
                    </div>
                    <div *ngFor="let bebida of pedido.platosBebida">
                        {{bebida}}
                    </div>
                    <div *ngIf="pedido.estadoBartender == 'enProceso'">
                        <ion-button color="success" (click)="elaborarPedido(pedido.mesa,'enPreparacion','BarTender')" expand="block">Elaborar</ion-button>
                    </div>
                    <div *ngIf="pedido.estadoBartender == 'enPreparacion'">
                        <ion-button color="danger" (click)="elaborarPedido(pedido.mesa,'finalizado','BarTender')" expand="block">Enviar</ion-button>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-content>
</div>