.btn{
    border-radius: 100px;
    background-color: #2dd36f;
    font-family: cursive;
    outline: none;
}

.lbl{
    font-size: 18px;
    font-family: cursive;
}

.btn:hover{
    background-color: #35f381;
}

.btn:focus {
    outline: none;
}