<ion-content class="ion-padding-bottom contenido" color="dark">

  <form #formulario="ngForm">

    <ion-list mode="ios">

      <ion-list-header color="dark">
        <ion-label>{{opcion}} Pedido</ion-label>
      </ion-list-header>

      <ion-item color="dark">
        <ion-label>MESA ASIGNADA</ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-label>CLIENTE ASIGNADO</ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-label>HORA PEDIDO</ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-label>Total : $ {{pedido.calcularTotal()}}</ion-label>
      </ion-item>

    </ion-list>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="botones-form" color="dark">

    <ion-button *ngIf="pedido.productos.length > 0" (click)="mostrarPlatos()" expand="block" color="dark"
                size="large">
      Ver Platos
    </ion-button>

    <ion-button (click)="mostrarCarta()" expand="block" color="warning" size="large" *ngIf="opcion != 'Baja'">
      Ver Carta
    </ion-button>

    <!-- Se muestra accion segun tipo de llamado al formulario -->
    <ion-button (click)="alta()" color="tertiary" expand="block" type="submit" [disabled]="formulario.invalid"
                size="large"
                *ngIf="opcion == 'Alta'">
      Pedir
    </ion-button>

    <ion-button (click)="modificacion()" color="primary" expand="block" type="submit" [disabled]="formulario.invalid"
                size="large" *ngIf="opcion == 'Modificación'">
      Modificar
    </ion-button>

    <ion-button (click)="cierre()" color="dark" expand="block" type="submit" size="large" *ngIf="opcion == 'Baja'">
      Cerrar
    </ion-button>

  </ion-toolbar>
</ion-footer>