<ion-content class="contenido" color="dark">

  <form #formulario="ngForm">

    <ion-list mode="ios" *ngIf="pedido && pedido.cliente && pedido.mesa">

      <ion-list-header color="dark">
        <ion-label>{{opcion}} Pedido</ion-label>
      </ion-list-header>

      <ion-item color="dark">
        <ion-label>Mesa asignada:{{pedido.mesa.numero}}</ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-label>
          <h4>Cliente</h4>
          <p>
            {{pedido.cliente.nombre}} {{pedido.cliente.apellido}}
            {{pedido.cliente.dni}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-label>{{pedido.fechaInicio | date: 'shortDate'}}</ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-label>Total : $ {{pedido.calcularTotal()}}</ion-label>
      </ion-item>

    </ion-list>

  </form>
</ion-content>

<ion-footer *ngIf="pedido && pedido.cliente && pedido.mesa">
  <ion-toolbar class="botones-form" color="dark">

    <ion-button *ngIf="pedido.productos" (click)="mostrarPlatos()" expand="full"
                color="dark" class="ion-no-margin" size="large">
      Ver Platos
    </ion-button>

    <ion-button (click)="mostrarCarta()" expand="full" *ngIf="opcion != 'Baja'"
                color="danger" class="ion-no-margin" size="medium">
      Ver Carta
    </ion-button>

    <!-- Se muestra accion segun tipo de llamado al formulario -->
    <ion-button (click)="alta()" expand="full" type="submit"
                *ngIf="opcion == 'Alta'" [disabled]="formulario.invalid"
                color="success" class="ion-no-margin" size="medium">
      Pedir
    </ion-button>

    <ion-button (click)="modificacion()" expand="full" type="submit"
                *ngIf="opcion == 'Modificación'" [disabled]="formulario.invalid"
                color="medium" class="ion-no-margin" size="medium">
      Modificar
    </ion-button>

    <ion-button (click)="cierre()" color="medium" expand="full" type="submit" size="medium"
                *ngIf="opcion == 'Baja'">
      Cerrar
    </ion-button>

  </ion-toolbar>
</ion-footer>