<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>Estado:{{pedido.estado}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>


    <ion-button (click)="mostrarOpciones()" expand="block" color="success" size="large" strong="true">
      <ion-label>Abrir menú</ion-label>
    </ion-button>
  </ion-card-content>
</ion-card>

<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col class="contenido">
      <ion-item color="dark">
        <ion-label mode="ios">
          <h1>Pedido</h1>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<app-pedido-slide [productos]="pedido.productos"></app-pedido-slide>