<ion-content class="ion-padding-bottom contenido" color="dark">
  <form [formGroup]="reservaForm">
    <ion-list mode="ios" lines="none">

      <ion-item color="dark">
        <ion-label position="floating">Fecha y Hora de la reserva</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Confirmar" formControlName="date" display-format="D MMM YYYY H:mm"
          [min]="fechaActual" max="2021-10-10" display-timezone="utc" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
          pickerFormat="D MMM YYYY H:mm" placeholder="Seleccione Fecha y Hora" (ionChange)="leerMesasDisponibles()">
        </ion-datetime>
      </ion-item>

      <ion-item color="dark">
        <ion-select class="round" placeholder="Seleccione Mesa" okText="Confirmar" cancelText="Cancelar"
        [disabled]="reservaForm.controls['date'].invalid" formControlName="mesa">
        <ion-select-option *ngFor="let mesa of mesasDisponibles" [value]='mesa'>
          Mesa: {{mesa.numero}} Cant.: {{mesa.comensales}}
        </ion-select-option>
      </ion-select>
      </ion-item>      

    </ion-list>

    <!-- Se muestra accion segun tipo de llamado al formulario -->
    <ion-button (click)="crear()" color="dark" expand="block" type="submit" *ngIf="opcion == 'Alta'"
      [disabled]="reservaForm.controls['mesa'].invalid">
      Crear
    </ion-button>

    <ion-button (click)="modificarReserva()" color="dark" expand="block" type="submit"
      [disabled]="reservaForm.pristine || reservaForm.invalid" *ngIf="opcion == 'Modificación'">
      Modificar
    </ion-button>

    <ion-button (click)="borrarReserva()" color="dark" expand="block" type="submit" *ngIf="opcion == 'Baja'">
      Eliminar
    </ion-button>

  </form>
</ion-content>