div.contenedorPrincipal{
    height: 100%;
    background-position: 50%;
    background-size: cover;
}

.fondo{
    background-position: 50%;
    background-size: cover;
    height: 100%;
    background-color: rgb(78, 78, 78);
}