<app-header titulo="Menú"></app-header>

<ion-segment value="Platos" (ionChange)="seleccionarOpcion($event)" scrollable color="success">
  <ion-segment-button value="Platos">
    <ion-label>
      Platos
    </ion-label>
  </ion-segment-button>

  <ion-segment-button value="Bebidas">
    <ion-label>
      Bebidas
    </ion-label>
  </ion-segment-button>

  <ion-segment-button value="Alta" *ngIf="rolService.isEmpleadoBartender(usuario) || 
                                    rolService.isEmpleadoCocinero(usuario)">
    <ion-label>Alta</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Baja" *ngIf="rolService.isEmpleadoBartender(usuario) || 
                                  rolService.isEmpleadoCocinero(usuario)">
    <ion-label>Baja</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Modificación" *ngIf="rolService.isEmpleadoBartender(usuario) || 
                                           rolService.isEmpleadoCocinero(usuario)">
    <ion-label>Modificar</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="fondo">

  <app-listado-productos *ngIf="opcion == 'Platos'" [productos]="platos" [opcion]="Platos"
                         (elegirProducto)="elegirProducto($event)">
  </app-listado-productos>

  <app-listado-productos *ngIf="opcion == 'Bebidas'" [productos]="bebidas" [opcion]="Bebidas"
                         (elegirProducto)="elegirProducto($event)">
  </app-listado-productos>

  <app-form-producto *ngIf="opcion != 'Platos' && opcion != 'Bebidas'" [opcion]="opcion"
                     [producto]="productoElegido">
  </app-form-producto>

</ion-content>