<ion-content>

  <ion-segment value="Listado" (ionChange)="seleccionarOpcion($event)" scrollable>
    <ion-segment-button value="Listado">
      <ion-label>Productos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Alta">
      <ion-label>Alta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Baja">
      <ion-label>Baja</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Modificación">
      <ion-label>Modificación</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <app-listado-productos *ngIf="opcion == 'Listado'" [productos]="listado" (elegirProducto)="elegirProducto($event)">
  </app-listado-productos>
  <app-form-producto *ngIf="opcion == 'Alta'" [opcion]="opcion"></app-form-producto>
  <app-form-producto *ngIf="opcion == 'Baja' || opcion == 'Modificación'" [producto]="productoElegido" [opcion]="opcion"></app-form-producto>

</ion-content>