<app-header titulo="Menú"></app-header>

<ion-segment value="inicializarOpcion()" (ionChange)="seleccionarOpcion($event)" scrollable color="success">
  <ion-segment-button value="Platos" *ngIf="!rolService.isEmpleadoBartender(usuario)">
    <ion-icon name="pizza-outline"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="Bebidas" *ngIf="!rolService.isEmpleadoCocinero(usuario)">
    <ion-icon name="wine-outline"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="Alta" *ngIf="rolService.isEmpleadoBartender(usuario) || 
                                          rolService.isEmpleadoCocinero(usuario)">
    <ion-icon name="add"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Baja" *ngIf="productoElegido.isActive && 
                                          rolService.isEmpleadoBartender(usuario) || 
                                          rolService.isEmpleadoCocinero(usuario)">
    <ion-icon name="trash-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Modificación" *ngIf="productoElegido.isActive && 
                                                  rolService.isEmpleadoBartender(usuario) || 
                                                  rolService.isEmpleadoCocinero(usuario)">
    <ion-icon name="create-sharp"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-content class="fondo">

  <app-listado-productos *ngIf="opcion == 'Platos'" [productos]="platos" [opcion]="Platos"
                         (elegirProducto)="elegirProducto($event)">
  </app-listado-productos>

  <app-listado-productos *ngIf="opcion == 'Bebidas'" [productos]="bebidas" [opcion]="Bebidas"
                         (elegirProducto)="elegirProducto($event)">
  </app-listado-productos>

  <app-form-producto *ngIf="opcion != 'Platos' && opcion != 'Bebidas'" [opcion]="opcion"
                     [producto]="productoElegido">
  </app-form-producto>

</ion-content>