.lbl{
    font-size: 18px;
    font-family: cursive;
}

.btn{
    border-radius: 100px;
    background-color: #2dd36f;
    font-family: cursive;
    height: 50px;
    width: 90%;
}

.btn:hover{
    background-color: grey;
}

.btn:focus {
    outline: 0 !important;
}

ion-card {
    border-radius: 20px;
}
ion-card-header {
    background-color: #e2e2e2;
}
.tabla  {
    width: 100%;
}

.h1 {
    padding-left: 10%; 
}

ion-card-conten {
    padding: 10%;
}
.tdEnviar {
    width: 50%;
    text-align: center;
}
.tdLimpiar {
    width: 50%; 
    text-align: center;
}

.fondo{
    background: url("../../assets/splash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
.divScroll{
    overflow-y: auto;
    height: 100%;
}

.btn-secondary{
    border-radius: 100px;
    background-color: #ffd000;
    font-family: cursive;
    height: 50px;
}

.btn-secondary:hover{
    background-color: #ddb400;
}

.btn-secondary:focus {
    outline: 0 !important;
}

.btn-tertiary{
    border-radius: 100px;
    background-color: #cecece;
    font-family: cursive;
    height: 50px;
    width: 100%;
}


.btn-tertiary:hover{
    background-color: #b9b9b9;
}

.btn-tertiary:focus {
    outline: 0 !important;
}