<ion-content>
  <div class="fondo">

      <button type="button"  class="btnClienteRegistradoInicio"
      (click)="manejadoraInicio('CLIENTE_REGISTRADO')">Registrarme</button>
     <button type="button"  class="btnClienteAnonimoInicio" 
      (click)="manejadoraInicio('CLIENTE_ANONIMO')">Ingreso<br>sin registro</button>
     <button type="button"  class="btnLoginInicio" 
      (click)="manejadoraInicio('LOGIN')">Ya estoy registrado</button>
  
    <div class="loadingInicio">
      <img src="../../../assets/spinner.png">
    </div>
    <label class="divTitulo">CodeFactory</label>
    <label class="divNombres">
      <p>
        <ion-badge color="warning">TOMADIN FEDERICO</ion-badge>
      </p>
      <p>
        <ion-badge color="warning">CARBONE LUCAS</ion-badge>
      </p>
      <p>
        <ion-badge color="warning">SANCHEZ LUCAS</ion-badge>
      </p>
    </label>
  
  </div>
</ion-content>