<ion-content>
  <div class="fondo">
  
    <button  type="button" color="success" class="btnClienteRegistradoInicio"
      routerLink="/inicio/AltaClientesRegistrados">Registrarme</button><br>
    <button type="button" color="success" class="btnClienteAnonimoInicio" 
      routerLink="/inicio/AltaClientesAnonimos">Ingreso<br>sin registro</button><br>
    <button type="button" color="success" class="btnLoginInicio" 
      (click)="manejadoraInicio('LOGIN')">Ya estoy registrado</button>
  
    <div class="loadingInicio">
      <img src="../../../assets/spinner.png">
    </div>
    <label class="divTitulo">CodeFactory</label>
    <label class="divNombres">
      <p>
        <ion-badge color="warning">TOMADIN FEDERICO</ion-badge>
      </p>
      <p>
        <ion-badge color="warning">CARBONE LUCAS</ion-badge>
      </p>
      <p>
        <ion-badge color="warning">SANCHEZ LUCAS</ion-badge>
      </p>
    </label>
  
  </div>
</ion-content>