<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="cerrar()">
      <ion-icon size="large" slot="icon-only" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="fondo">

  <ion-list lines="none" class="ion-no-padding contenido" mode="ios">

    <ion-list-header color="dark">
      <ion-label>Pedido</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let producto of pedido.productos; let i = index" color="dark">
      <ion-label>
        <h3>{{producto.nombre}}</h3>
        <p>$ {{producto.precio}}</p>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="producto.fotos[0].url" />
      </ion-thumbnail>
    </ion-item>

  </ion-list>


</ion-content>

<ion-footer color="dark">

  <ion-toolbar color="dark" class="ion-no-padding">
    <ion-item color="dark">
      <ion-label>Propina : % {{pedido.propina}}</ion-label>
      <ion-button (click)="escanearPropina()" color="dark" size="large">
        <ion-icon slot="icon-only" name="qr-code"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <ion-toolbar color="dark">
    <ion-title>Total a pagar: $ {{pedido.valorTotal}}</ion-title>
  </ion-toolbar>

  <ion-button (click)="pagar()" expand="full" color="danger" strong="true"
              size="large" class="ion-no-margin">
    Pagar
  </ion-button>

</ion-footer>