<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" (click)="cerrar()">
      <ion-icon slot="start" name="arrow-left"></ion-icon>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list lines="none" class="ion-no-padding" mode="ios">

    <ion-list-header>
      <ion-label>Pedido</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let producto of pedido.productos; let i = index">
      <ion-label>
        <h3>{{producto.nombre}}</h3>
        <p>$ {{producto.precio}}</p>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="producto.fotos[0].url" />
      </ion-thumbnail>
    </ion-item>

    <ion-item>
      <ion-label>Propina:{{pedido.propina}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="pagar()" expand="full" color="success" strong="true">
        Pagar
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>

  <ion-toolbar color="warning">
    <ion-title>Total:${{pedido.valorTotal}}</ion-title>
  </ion-toolbar>

</ion-footer>