<app-header titulo="Menú Mesa"></app-header>

<ion-segment value="Listado" (ionChange)="seleccionarOpcion($event)" scrollable color="success">
  <ion-segment-button value="Listado">
    <ion-icon name="list-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Alta">
    <ion-icon name="add"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Baja" *ngIf="mesaElegida.isActive">
    <ion-icon name="trash-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Modificación" *ngIf="mesaElegida.isActive">
    <ion-icon name="create-sharp"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-content class="fondo">

  <app-listado-mesas *ngIf="opcion == 'Listado'" [mesas]="listado" (elegirMesa)="elegirMesa($event)">
  </app-listado-mesas>

  <app-form-mesas *ngIf="opcion != 'Listado'" [opcion]="opcion" [mesa]="mesaElegida"></app-form-mesas>


</ion-content>