<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <button class="btn" style="height: 35px;width: 35px;color: white;border-radius: 5px;">
        <ion-icon name="chevron-back-outline" routerLink="/inicio/menu"></ion-icon>
      </button>
      <b class="lbl"> Alta de Mesas</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="height: 100%;background-color: #166837;overflow: scroll;" >
    <br>
    <br>
    <br>
    <ion-card style="border-radius:10px;">
      <div style="padding: 5%;">
        <ion-item>
          <ion-label position="floating"  class="lbl">Número de Mesa</ion-label>
          <ion-input [(ngModel)]="mesa.numero" type="number" placeholder="Ingrese número aquí" min="1" max="999" placeholder="Ingrese número aquí"></ion-input>
        </ion-item>
        <br>

        <ion-item>
          <ion-label position="floating" class="lbl">Cantidad de comensales</ion-label>
          <ion-input [(ngModel)]="mesa.cantidad" type="number" placeholder="Ingrese cantidad aquí" min="1" max="50" placeholder="Ingrese cantidad aqui aquí"></ion-input>
        </ion-item>
        <br>

        <ion-item>
          <ion-label class="lbl">Tipo de Mesa</ion-label>
          <ion-select (ionChange)="onSelectMesas($event.target.value)" interface="action-sheet" cancel-text="Cerrar">
            <ion-select-option value="0">Normal</ion-select-option>
            <ion-select-option value="1">VIP</ion-select-option>
            <ion-select-option value="2">Discapacitados</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <br>
        <button class="btn" (click)="TomarFoto()" style="width: 100%;font-size: 18px;height: 40px;"><b>AGREGAR FOTO</b></button>
        <br>
        <table *ngIf="mesa.foto">
          <tr>
            <td>
              <img [src]="mesa.foto" style="border-radius: 25px;" style="width: 80px;">
            </td>
            <td>
              <div align="center">
                <h1 class="lbl" style="font-size:25px">La foto ha sido tomada exitosamente!</h1>
              </div>
            </td>
          </tr>
        </table>
        <br>
        <button class="btn" (click)="scanQr()" style="width: 100%;height: 40px;">
          <label style="color: rgb(0, 0, 0);font-size: 18px;"><b>AGREGAR QR</b></label>
        </button>
        <div *ngIf="mesa.qr">
          <br>
          <ion-label>Codigo asociado: {{mesa.qr}}</ion-label>
        </div>
        <br>
        <br>
        <button class="btn" style="width: 100%;height: 40px;font-size: 18px;" (click)="ValidarFormulario()"><b>ENVIAR FORMULARIO</b></button>
      </div>
      <br>
    </ion-card>
  </div>
</ion-content>