<ion-content fullscreen class="ion-padding" scroll-y="false" color="medium">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="./assets/img/morfi.jpg" />
        <h2>El Movimiento Restó</h2>
        <p>Nuestra cocina es <b>nuestro hogar</b> abierto para todas las personas que quieras conocer y disfrutar.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/img/bar.jpg" />
      <h2>Bar especial</h2>
      <p><b>Ideal para compartir</b> con tus amistades luego de un largo día de trabajo o un fin de
        semana de descanso para pasar los mejores momentos </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/img/family.jpg" />
      <h2>Nuestro servicio</h2>
      <p><b>Vení en familia</b> para disfrutar de nuestro menú apto para todas las edades con descuentos especiales</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/img/dinner.jpg" />
      <h2>La cocina</h2>
      <p><b>El sabor y la salud</b> de nuestros platos ,confeccionados por nuestros profesionales gastronómicos, listos
        para tu paladar </p>
      <ion-button fill="clear">
        Tengo reserva
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>