<ion-content fullscreen class="fondo" scroll-y="false">
  <ion-slides pager="true" mode="ios" class="slides">

    <ion-slide class="contenido">
      <div class="slide">
        <img src="./assets/img/morfi.jpg" />
        <ion-label color="dark" mode="ios">
          <h2>El Movimiento Restó</h2>
          <p>Utilice el escáner QR para ingresar por lista de espera con el código del local o reserve una mesa
            presionando en el botón</p>
        </ion-label>
        <ion-button fill="clear" color="dark">
          Realizar reserva
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide class="contenido">
      <img src="./assets/img/bar.jpg" />
      <ion-label color="dark" mode="ios">
        <h2>Bar especial</h2>
        <p><strong>Ideal para compartir</strong> con tus amistades luego de un largo día de trabajo o un fin de
          semana de descanso para pasar los mejores momentos </p>
      </ion-label>
    </ion-slide>

    <ion-slide class="contenido">
      <img src="./assets/img/family.jpg" />
      <ion-label color="dark" mode="ios">
        <h2>Nuestro servicio</h2>
        <p><strong>Vení en familia</strong> para disfrutar de nuestro menú apto para todas las edades con descuentos
          especiales</p>
      </ion-label>
    </ion-slide>

    <ion-slide class="contenido">
      <img src="./assets/img/dinner.jpg" />
      <ion-label color="dark" mode="ios">
        <h2>La cocina</h2>
        <p><strong>El sabor y la salud</strong> de nuestros platos confeccionados por nuestros profesionales
          gastronómicos listos
          para tu paladar </p>
      </ion-label>

    </ion-slide>

  </ion-slides>
</ion-content>