ion-list {
    --ion-background-color: transparent !important;
    --ion-border-color: transparent !important;
    background: transparent;
    }

.bold {
    font-weight: 700;
}

ion-button {
    --background: #2dd36f !important; 
    --background-focused: grey !important;
    --border-radius: 100px !important;
    --color: black;
    --border-style: solid !important;
}

.btnDuenio {
    margin-left: 27%;
}
.btnSupervisor {
    margin-left: 21%;
}
.btnEmpleado {
    margin-left: 23%;
}