<ion-content>
    <ion-card color='fondo'>
        <ion-card-header>
            <div align="center">
                <img src="../../assets/icon/iconLogoMovimiento.png" alt="" width="100px" height="100px" class="icon">
            </div>
            <ion-card-title align="center">Iniciar sesión</ion-card-title>
        </ion-card-header>
        <ion-item color='cubiertos'>
            <ion-label>Usuarios</ion-label>
            <ion-select [(ngModel)]="pickedName" interface="popover" placeholder="Seleccione Usuario" (ionChange)="pickerUser(pickedName)">
                <ion-select-option *ngFor="let usuario of listaUsuarios" value="{{usuario.correo}}">{{usuario.correo}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item color='cubiertos'>
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input type="text" [(ngModel)]="email" placeholder="Ingrese usuario..."></ion-input>
        </ion-item>
        <ion-item color='cubiertos'>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" placeholder="Ingrese contraseña..."></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="onSubmitLogin()" class="btnRegistro" expand="block">Ingresar</ion-button>
        <ion-button (click)="registrarUsuario()" class="btnRegistro" color='success' expand="block">Registrarse</ion-button>
        <br>
    </ion-card>
</ion-content>