<ng-container *ngIf='!splash'>
    <div *ngIf="flagSecc === 'Consultas'">
        <ng-container *ngFor="let consulta of listaConsultas">
            <ion-card style="background-color: #332920ea;">
                <ion-card-content style="color: #ffffff;">{{consulta.fecha | date:"short"}}: {{'seccion-mozo.EL_CLIENTE' | translate}} {{consulta.cliente}} {{'seccion-mozo.EL_CLIENTE' | translate}} {{consulta.mesa}} {{'seccion-mozo.REALIZO_CONSULTA' | translate}}</ion-card-content>
                <ion-card-content style="color: #ffffff;">{{consulta.descripcion}}</ion-card-content>
                <ion-input type="text" style="color: #ffffff;" [(ngModel)]="respuestaConsulta" placeholder="Respuesta"></ion-input>
                <ion-button expand="block" (click)="consultaConExito(consulta)">{{'seccion-mozo.RESPONDER_CONSULTA' | translate}}</ion-button>
            </ion-card>
        </ng-container>
    </div>
    <div *ngIf="flagSecc === 'Pedidos'">
        <ng-container *ngFor="let pedido of listaPedidos">
            <ion-card *ngIf="pedido.estado === estadoPedido" style="background-color: #332920ea;">
                <ion-card-content style="color: #ffffff;">
                    <p *ngIf="pedido.estado === 'Pendiente'">{{'seccion-mozo.EL_PEDIDO' | translate}} #{{pedido.id}} {{'seccion-mozo.ESTA_PENDIENTE' | translate}}</p>
                    <p *ngIf="pedido.estado === 'Preparado'">{{'seccion-mozo.EL_PEDIDO' | translate}} #{{pedido.id}} {{'seccion-mozo.ESTA_PREPARADO' | translate}}</p>
                    <p *ngIf="pedido.estado === 'Pagado'">{{'seccion-mozo.EL_PEDIDO' | translate}} #{{pedido.id}} {{'seccion-mozo.FUE_PAGADO' | translate}}.</p>
                    <br>
                    <div style='padding: 5px; margin: 5px; border: solid white 1px; border-radius: 10px; ' *ngFor="let producto of pedido.productos">
                        <small>{{'seccion-mozo.NOMBRE' | translate}} {{producto.nombre}}</small> <br>
                        <small>{{'seccion-mozo.CANTIDAD' | translate}} {{producto.cantidad}}</small> <br>
                        <small>{{'seccion-mozo.PRECIO' | translate}} {{producto.precio}}</small> <br>
                    </div>
                    <h4>{{'seccion-mozo.TIEMPO_TOTAL' | translate}} {{pedido.tiempoTotal}}</h4>
                    <h4>{{'seccion-mozo.PRECIO_TOTAL' | translate}} {{pedido.precioTotal}}</h4>
                </ion-card-content>
                <ion-grid *ngIf="pedido.estado === 'Pendiente'">
                    <ion-row>
                        <ion-col col-6>
                            <ion-button (click)="modificarEstadoPedido(pedido,'EnPreparacion')" expand="block" color="success">{{'seccion-mozo.textoBotones.CONFIRMAR' | translate}}</ion-button>
                        </ion-col>
                        <ion-col col-6>
                            <ion-button (click)="modificarEstadoPedido(pedido,'Cancelado')" expand="block" color="danger">{{'seccion-mozo.textoBotones.CANCELAR' | translate}}</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button *ngIf="pedido.estado === 'Preparado'" expand="block" color="success" (click)="modificarEstadoPedido(pedido,'Servido-A')">{{'seccion-mozo.textoBotones.LLEVAR_MESA' | translate}}</ion-button>
                <ion-button *ngIf="pedido.estado === 'Pagado'" expand="block" color="success" (click)="liberarMesa(pedido)">{{'seccion-mozo.textoBotones.CONFIRMAR_Y_LIBERAR' | translate}}</ion-button>
            </ion-card>
        </ng-container>
    </div>
</ng-container>
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <img src="../../assets/icon/gifAnimado.gif" class="loading">
</div>