<body class="fondo">
  <ion-header class="ion-no-border" translucent="true">
    <ion-card style="background: none;--background:none;backdrop-filter: blur(10px) brightness(0.7);border-radius: 10px;height: 60px;">
      <table style="width:100%;">
        <tr>
          <td style="width: 10%;padding-left: 4%;">
            <button class="btn-icon" (click)="cerrarSesion()">
              <ion-icon name="log-out-outline"></ion-icon>
            </button>
          </td>
          <td style="width: 70%;padding-left: 4%;">
            <ion-text class="ion-text-center" color="light">
              <label style="font-size: 18px;">Bienvenido! <b>{{usuario?.nombre}}</b></label>
            </ion-text>
          </td>
          <td style="height: 60px;">
            <img [src]="usuarioService.mostrarFoto(usuario.foto)" (click)="AbrirOpciones()" style="width:70%;height: 60px;border-radius: 10px;margin-left:30%" alt="">
          </td>
        </tr>
      </table>
    </ion-card>
  </ion-header>
  <ion-content style="background: none;--background:none;">
    
    <section align="center" style="padding: 5%;">
  
      <div *ngIf="usuario && (usuario.perfil === 'DUEÑO' || usuario.perfil === 'SUPERVISOR')">
        <br>
        <button class="btn"   size="large"
          expand="block" color="warning" (click)="gestionarUsuarios()">
          <ion-icon class="lbl" slot="start" name="people"></ion-icon>
          <label class="lbl"> Gestionar Usuarios</label> 
        </button>
      </div>
  
      <div *ngIf="usuario && usuario.perfil === 'METRE'">
        <br>
        <button class="btn"  size="large" expand="block" color="warning"
          (click)="gestionarUsuarios()">
          <ion-icon class="lbl" slot="start" name="people"></ion-icon>
          <label class="lbl"> Gestionar Clientes</label> 
        </button>
      </div>
  
      <div *ngIf="usuario && usuario.perfil === 'METRE'">
        <br>
        <button class="btn"  size="large" expand="block" color="warning"
          (click)="gestionarListaEspera()">
          <ion-icon class="lbl" name="reader-outline"></ion-icon>
          <label class="lbl"> Lista de Espera</label>
        </button>
      </div>
  
      <div *ngIf="usuario && (usuario.perfil === 'DUEÑO' || usuario.perfil === 'SUPERVISOR')">      
        <br>
        <button class="btn"  size="large"
          expand="block" color="warning" (click)="gestionarMesas()">
          <ion-icon class="lbl" slot="start" name="cube-outline"></ion-icon>
          <label class="lbl"> Gestionar Mesas</label>
        </button>
      </div>
  
      <div *ngIf="usuario && (usuario.perfil === 'COCINERO' || usuario.perfil === 'BARTENDER' || usuario.perfil === 'DUEÑO' || usuario.perfil === 'SUPERVISOR')">
        <br>
        <button class="btn"
          size="large" expand="block" color="warning" (click)="irAProductos()">
          <ion-icon class="lbl" slot="start" name="pizza-outline"></ion-icon>
          <label class="lbl"> Gestionar Productos</label>
        </button>
      </div>
  
      <div *ngIf="usuario && (usuario.perfil === 'DUEÑO' || usuario.perfil === 'SUPERVISOR')">
        <br>
        <button class="btn" size="large"
          expand="block" color="warning" (click)="gestionarPropinas()">
          <ion-icon class="lbl" slot="start" name="wallet-outline"></ion-icon>
          <label class="lbl"> Gestionar Propinas</label>
        </button>
      </div>
  
      <!-- <button *ngIf="usuario && (usuario.perfil === 'COCINERO' || usuario.perfil === 'BARTENDER')" size="large"
        expand="block" color="warning" (click)="productos()">
        <ion-icon slot="start" name="pizza-outline"></ion-icon>
        Gestionar Productos
      </button> -->
  
      <!-- PENDIENTES -->
      <div *ngIf="usuario && (usuario.perfil === 'COCINERO' || usuario.perfil === 'BARTENDER' || usuario.perfil === 'MOZO')">
        <br>
        <button class="btn"
          size="large" expand="block" color="warning" (click)="irAPendientes()">
          <ion-icon class="lbl" slot="start" name="pizza-outline"></ion-icon>
          <label class="lbl"> Listado Pendientes</label>
        </button>
      </div><br>
  
  
      <button class="btn" *ngIf="usuario && usuario.perfil === 'MOZO'" size="large" expand="block" color="warning"
        (click)="irAMozo()">
        <ion-icon class="lbl" slot="start" name="wine-outline"></ion-icon>
        <label class="lbl"> Pedidos activos</label>
      </button>
  
      <!-- <button size="large" expand="block" color="warning"> 
        <ion-icon slot="start" name="restaurant-outline"></ion-icon> Listado Pedidos
      </button> -->
    </section>
  
  </ion-content>
</body>