.opciones ion-button {
  border-radius: 10px;
  height: 10vh;
  margin-top: 30px;
}

.lbl{
  font-size: 25px;
  font-family: cursive;
}

.btn{
  border-radius: 100px;
  background-color: #2ac568;
  font-family: cursive;
  height: 90px;
  width: 100%;
}


.btn:hover{
  background-color: #37ff87;
  height: 100px;
}

.btn:focus {
  outline: 0 !important;
}

.fondo{
  background: url("../../assets/splash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divScroll{
  overflow-y: auto;
  height: 100%;
}

.btn-secondary{
  border-radius: 100px;
  background-color: #ffd000;
  font-family: cursive;
  height: 50px;
}

.btn-secondary:hover{
  background-color: #ddb400;
}

.btn-secondary:focus {
  outline: 0 !important;
}

.btn-tertiary{
  border-radius: 100px;
  background-color: #cecece;
  font-family: cursive;
  height: 50px;
}


.btn-tertiary:hover{
  background-color: #b9b9b9;
}

.btn-tertiary:focus {
  outline: 0 !important;
}

.btn-icon{
  background: none;
  color: white;
  font-size: 35px;
}