<ion-content>

  <!-- Opciones: ver encuestas pasadas. ponerse en la lista de espera ver la lista de espera -->
  <ion-button (click)="verEncuestasAntiguas()" expand="block" fill="clear" shape="round">
    Ver encuentas antiguas
  </ion-button>
  <ion-button (click)="ponerseEnListaDeEspera()" expand="block" fill="clear" shape="round">
    Ponerme en la fila
  </ion-button>
  <ion-button (click)="verListaDeEspera()" expand="block" fill="clear" shape="round">
    Ver lista de espera
  </ion-button>
</ion-content>