<div class="ion-activatable centrado">
  <ion-card color="dark">

    <ion-item>
      <ion-avatar *ngIf="empleado.foto && empleado.foto.url" slot="end" (click)="verFoto(empleado.foto)">
        <img [src]="empleado.foto.url">
      </ion-avatar>
      <ion-label>{{ empleado.nombre }} {{ empleado.apellido }}</ion-label>
    </ion-item>

    <ion-card-content color="dark">
      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>Tipo: {{ empleado.tipo }}</ion-label>
      </ion-chip>

      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>Correo Electrónico: {{ empleado.email }}</ion-label>
      </ion-chip>

      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>DNI: {{ empleado.dni }}</ion-label>
      </ion-chip>

      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>CUIL: {{ empleado.cuil }}</ion-label>
      </ion-chip>
    </ion-card-content>

  </ion-card>
</div>