<ion-fab class="button-flotating" vertical="bottom" horizontal="start" edge slot="fixed">
  <ion-fab-button>
    <ion-icon name="log-in"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="login(1)"><ion-icon name="settings"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="login(5)"><ion-icon name="clipboard"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="login(2)"><ion-icon name="person"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button (click)="login(4)"><ion-icon name="help"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="login(3)"><ion-icon name="person-add"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
