*{
    margin: 0%;
    padding: 0%;
    outline: none;
}

.fondoEditarUsuario{
    --background: url(../../../assets/fondo_oscuro.jpg) 0 0/100% 100% no-repeat;
  }

.btnVolverAltaUsuarios{ 
    width: 25vw; 
    height: 4vh;
    top: 96vh;
    left: 0vw;
    color: grey;
    background-color:  #2dd36f;
    border-radius: 10px;
    font-size: 2vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}
  
.btnFotoAltaUsuarios:active{
    background-color: #35f381;
}

.btnSubmitAltaUsuarios{ 
    // margin-top: 20px;
    // height: 7vh;

    --font-size: 2vh !important;
    --border-radius: 100px !important;  
    font-family: cursive !important;
    font-weight: bold;

    /*width: 25vw; 
    height: 4vh;
    top: 96vh;
    left: 75vw;
    color: grey;
    background-color:  rgb(255,215,0);
    border-radius: 10px;
    font-size: 2vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}
  
.btnFotoAltaUsuarios:active{
    background-color: #35f381;
}

.btnFotoAltaUsuarios{ 
    width: 25vw; 
    height: 4vh;
    top: 96vh;
    left: 50;
    color: grey;
    background-color:  #2dd36f;
    border-radius: 10px;
    font-size: 2vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}

.btnFotoAltaUsuarios:active{
    background-color: #35f381;
}

.btnQrAltaUsuarios{ 
    width: 25vw; 
    height: 4vh;
    top: 96vh;
    left: 25vw;
    color: grey;
    background-color:  #2dd36f;
    border-radius: 10px;
    font-size: 2vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}

.btnQrAltaUsuarios:active{
    background-color: #35f381;
}

////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////

.lblCorreoAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

.inpCorreoAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 40%;
    left: 0%;
    color: grey;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0px;
    border-bottom: 3px solid grey;
    font-size: 3vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

.lblErrorCorreoAltaUsuarios{
    width: 100%; 
    height: 20%;
    top: 80%;
    left: 0%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 2vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

////////////////////////////////////////////////////////////////////////////////

.lblClaveAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

.lblClave2AltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

.inpClaveAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 40%;
    left: 0%;
    color: grey;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0px;
    border-bottom: 3px solid grey;
    font-size: 3vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

.inpClave2AltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 40%;
    left: 0%;
    color: grey;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0px;
    border-bottom: 3px solid grey;
    font-size: 3vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

.lblErrorClaveAltaUsuarios{
    width: 100%; 
    height: 20%;
    top: 80%;
    left: 0%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 2vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

.lblErrorClave2AltaUsuarios{
    width: 100%; 
    height: 20%;
    top: 80%;
    left: 0%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 2vh;
    /*font-family:Helvetica, sans-serif;
    font-weight:bold;*/
}

////////////////////////////////////////////////////////////////////////////////

.lblNombreAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    color:  black;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    border: solid;
    padding: 1%;
    font-family: cursive;
    // font-weight:bold;
}

.inpNombreAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 40%;
    left: 0%;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0px;
    border-bottom: 3px solid grey;
    font-size: 3vh;
    font-family: cursive;
}

.lblErrorNombreAltaUsuarios{
    width: 100%; 
    height: 20%;
    top: 80%;
    left: 0%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 2vh;
    font-family: cursive;
}

////////////////////////////////////////////////////////////////////////////////

.lblApellidoAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    color:  black;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    font-family: cursive;
}

.inpApellidoAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 40%;
    left: 0%;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0px;
    border-bottom: 3px solid grey;
    font-size: 3vh;
    font-family: cursive;
}

.lblErrorApellidoAltaUsuarios{
    width: 100%; 
    height: 20%;
    top: 80%;
    left: 0%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color:  black;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 2vh;
    font-family: cursive;
}

////////////////////////////////////////////////////////////////////////////////

.lblDniAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    color:  black;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    font-family: cursive;
}

.inpDniAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 40%;
    left: 0%;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0px;
    border-bottom: 3px solid grey;
    font-size: 3vh;
    font-family: cursive;
}

.lblErrorDniAltaUsuarios{
    width: 100%; 
    height: 20%;
    top: 80%;
    left: 0%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 2vh;
    font-family: cursive;
}

////////////////////////////////////////////////////////////////////////////////

.lblCuilAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    color:  black;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    font-family: cursive;
}

.inpCuilAltaUsuarios{
    width: 100%; 
    height: 40%;
    top: 40%;
    left: 0%;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: 0px;
    border-bottom: 3px solid grey;
    font-size: 3vh;
    font-family: cursive;
}

.lblErrorCuilAltaUsuarios{
    width: 100%; 
    height: 20%;
    top: 80%;
    left: 0%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color:  grey;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 2vh;
    font-family: cursive;
}

////////////////////////////////////////////////////////////////////////////////

.listTipoAltaUsuarios{
    width: 100%; 
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #2dd36f;
    border: 0px;
    color:  black;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    font-size: 3vh;
    font-family: cursive;
}

////////////////////////////////////////////////////////////////////////////////


