.titulo-pps {
    font-size: 40px;
    color: #fbfffd;
    font-weight: 400;
    font-family: "DejaVu Serif";
    text-align: center;
    padding-bottom: 30px;
    padding-top: 75px;
}

.apellidos {
    font-size: 40px;
    color: #fbfffd;
    font-weight: 400;
    font-family: "DejaVu Serif";
    text-align: center;
}

.square {
width: 100px;
height: 100px;
background: rgba(0, 0, 255, 0.5);
margin: 10px;
}

.icon_5px {
    font-size: 100px;
}

.img-icon {
    width: 90% !important;
    height: 94% !important;
    padding-left: 36px;
    padding-bottom: 30px;
    padding-top: 10px;
}