<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <div id="container" class="contenido">
    <form #formulario="ngForm">
      <ion-list class="ion-no-padding ion-no-margin" color="dark">
        <ion-item color="dark">
          <ion-label>
            Correo electrónico
          </ion-label>
          <ion-input type="email" name="email" [(ngModel)]="usuario.email"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label>
            Contraseña
          </ion-label>
          <ion-input type="password" name="password" [min]="6" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>

        <ion-button size="medium" (click)="onLoginAnonymously()" expand="full" color="medium" class="ion-no-margin">
          Anónimo</ion-button>

        <ion-button size="large" (click)="onLogin()" expand="full" color="danger" class="ion-no-margin">Iniciar Sesión
        </ion-button>


      </ion-list>
    </form>

  </div>

</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-button (click)="mostrarRoles()" expand="full" fill="clear" size="large" color="danger">
      Login de testing
    </ion-button>
  </ion-toolbar>
</ion-footer>