<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <div id="container" class="contenido">

    <ion-button size="medium" (click)="onLoginGoogle()" expand="block" color="danger">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Entrar con Google+
    </ion-button>

    <ion-button size="medium" (click)="onLoginFacebook()" expand="block" color="facebook">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Entrar con Facebook
    </ion-button>

    <ion-button size="medium" (click)="onLoginMail()" expand="block" color="primary">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      Correo electrónico
    </ion-button>

    <ion-button size="medium" (click)="onLoginAnonymously()" expand="block" color="secondary">
      <ion-icon slot="start" name="finger-print"></ion-icon>
      Anónimo
    </ion-button>

    <ion-button size="medium" (click)="onLoginGithub()" expand="block" color="dark">
      <ion-icon slot="start" name="logo-github"></ion-icon>
      Entrar con Github
    </ion-button>


  </div>


  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="log-in"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="facebook" (click)="login('Facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="login('Google')">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="login('Github')">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="login('Twitter')">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-button (click)="mostrarRoles()" expand="full" fill="clear" size="large" color="light">
      Login de testing
    </ion-button>
  </ion-toolbar>
</ion-footer>