<ion-content class="fondo" fullscreen="true" scrollX="true">

  <div class="contenido">

    <app-detalle-reserva *ngIf="pedido" [reserva]="pedido"></app-detalle-reserva>
    <app-detalle-pedido *ngIf="pedido" [pedido]="pedido" class="ion-no-margin"></app-detalle-pedido>

  </div>

  <div id="container" class="contenido" *ngIf="!pedido">
    <ion-label>
      <h1>
        <strong>Usted no está asignado a esta mesa</strong>
      </h1>
    </ion-label>

  </div>
  <!-- <ion-button (click)="verEncuesta()" expand="full"
          class="ion-no-margin" color="dark" size="large">
          Realizar encuesta
        </ion-button> -->

</ion-content>