<ion-content>

  <ion-fab class="ion-margin-bottom" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <img [src]="icono" alt="icono-app">
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="tertiary" translucent="true">
        <ion-icon name="log-out" (click)="cerrarSesion()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" translucent="true" [routerLink]="['/home/tab1']">
        <ion-icon name="triangle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">

    <ion-tab-button tab="menu-producto"
                    *ngIf="rolService.isClienteAceptado(usuario) || 
    rolService.isClienteAnonimo(usuario) ||
    rolService.isJefe(usuario)">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Carta</ion-label>
    </ion-tab-button>

    <app-escanerQR [usuario]="usuario"></app-escanerQR>

    <ion-tab-button tab="menu-reserva" *ngIf="rolService.isJefe(usuario) || rolService.isClienteAceptado(usuario)"
                    color="success">
      <ion-icon name="color-wand-outline"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-pedidos" *ngIf="rolService.isEmpleado(usuario)">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-de-espera" *ngIf="rolService.isEmpleadoMozo(usuario)">
      <ion-icon name="hourglass-sharp"></ion-icon>
      <ion-label>Lista de espera</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="rolService.isJefe(usuario)" (click)="mostrarMenu()">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>