<ion-content>

  <ion-fab class="ion-margin-bottom" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <img [src]="icono" alt="icono-app">
    </ion-fab-button>
  </ion-fab>

</ion-content>



<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1" color="success">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="menu-empleado">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Empleados</ion-label>
    </ion-tab-button> -->

    <ion-tab-button (click)="escanear()">
      <ion-icon name="qr-code-sharp"></ion-icon>
      <ion-label>Escáner QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-producto">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Carta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-cliente">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-pedidos">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>