<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
     Juegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container"><br>
    <button type="button" class="btn" (click)="IrAhorcado()"><b>Ahorcado</b></button>
    <br>
    <br>
    <button type="button" class="btn" (click)="IrPiedraPapelTijera()"><b>Piedra Papel Tijera</b></button>
    <br>
    <br>
    <button type="button" class="btn" (click)="IrAgilidadAritmetica()"><b>Agilidad Aritmética</b></button>
</ion-content>
