<ion-header color="primary">
  <ion-toolbar color="primary">


    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>


    <ion-title color="primary"> ALTA MESA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <br>
  <img [src]="mesaJson.foto" alt="" width="100px" height="100px" class="icon">
  
      <ion-card>
        
        
    <ion-item color="primary">
      <ion-label>Tipo:</ion-label>
      <ion-select [(ngModel)]="pickedName" interface="popover" placeholder="Seleccione" (ionChange)="pickerUser(pickedName)">
        <ion-select-option *ngFor="let mesa of listaTipo" value="{{mesa.tipo}}">{{mesa.tipo}}</ion-select-option>
      </ion-select>
    </ion-item>

     <form [formGroup]="miFormulario">
          

      <ion-item class="labels" fill="outline">

        <br>
        <ion-input type="text" [(ngModel)]="mesaJson.numero" formControlName="numero" placeholder="Numero..."></ion-input>
      </ion-item>
  
      <ion-item class="labels" >
        <br>
        <ion-input type="text" [(ngModel)]="mesaJson.comensales" formControlName="comensales" placeholder="Comensales..."></ion-input>
      </ion-item>
  

  </form>
    
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-button (click)="tomarFotografia()" class="btnRegistro" expand="block">Tomar foto</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

        <ion-button (click)="registrar()" class="btnRegistro" [disabled]="!miFormulario.valid" expand="block">REGISTRAR MESA</ion-button>

    </ion-card>


</ion-content> 