#superpuesto {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background-color: #c72525;
}

#splash {
    --background: none;
    background: url("../assets/icon/splash.png");
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fondo {
    position: absolute;
    z-index: 10000;
    transform: scale(0.70);
}

#plato {
    position: absolute;
    z-index: 10001;
    top: 100px;
    transform: scale(0.60);
}

#tenedor {
    position: absolute;
    z-index: 10002;
    animation: a-tenedor ease 1s forwards;
}

#cuchillo {
    position: absolute;
    z-index: 10003;
    animation: a-cuchillo ease 1s forwards;
}

@keyframes a-tenedor {
    0% {
        transform: translate(0px, 0px) rotate(0deg) scale(1.30);
    }

    100% {
        transform: translate(100px, 0px) rotate(45deg) scale(1.30);
    }
}

@keyframes a-cuchillo {
    0% {
        transform: translate(0px, 0px) rotate(0deg) scale(1.30);
    }

    100% {
        transform: translate(-100px, 0px) rotate(-45deg) scale(1.30);
    }
}