/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.imgSplash{
    border-radius: 20%;
    width: 50%;
    height: 50%;
    max-height:15vh;
    max-width:15vh;
  }
  
  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    // background-color: #d88629;
    background:url('assets/fondo_splash.png') no-repeat center / cover;
  }
  
  .flb {
    background:url('assets/fondo_splash.png') no-repeat center / cover;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #custom-overlay .imgSplashMovimiento {
    z-index:  9999;
    position: absolute;
    // display: block;
    width: 100%;
    top: 35%;
    left: 0%;
    height: auto;
    animation-name: slideDown;
     animation: slideDown 3100ms linear infinite both;
    animation-delay: 0s;
  }

  ion-loading.custom-loading {
    .loading-wrapper {
        width: 100px;
        height: 100px;
        --background: transparent;
        border: none;
        box-shadow: none;
        .loader {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 300;
            animation: rotation 1s infinite linear;
            
            // background-color: gold;
            border-radius: 100px;
        }
    }
    
    @keyframes rotation {
      100%{ transform:rotatey(360deg); }
    }
  }

  
  

