<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <img src="../../../assets/icon/gifAnimado.gif" class="loading">
</div>
<ion-header>
    <ion-toolbar color="fondo">
        <ion-back-button defaultHref="/" slot="start" icon="arrow-back-circle"></ion-back-button>
        <h3 class="titulo">Encuestas</h3>
    </ion-toolbar>
</ion-header>
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
        <img src="../../assets/icon/gifAnimado.gif" class="loading">
    </div>
<ion-content *ngIf='!splash' color="light">
    <div id='char_div'></div>
    <div id='char_divTwo'></div>
</ion-content>