<form #formulario="ngForm">

  <ion-list mode="ios" lines="none">

    <ion-list-header>
      <ion-label>{{opcion}} Empleado</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="empleado.nombre" [placeholder]="empleado.nombre"
        [disabled]="opcion == 'Baja'" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" name="apellido" [(ngModel)]="empleado.apellido" [placeholder]="empleado.apellido"
        [disabled]="opcion == 'Baja'" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="number" name="dni" [(ngModel)]="empleado.dni" [placeholder]="empleado.dni"
        [disabled]="opcion == 'Baja'" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CUIL</ion-label>
      <ion-input type="string" name="cuil" [(ngModel)]="empleado.cuil" [placeholder]="empleado.cuil"
        [disabled]="opcion == 'Baja'" required>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Tipo de empleado</ion-label>
    <ion-select value="empleado.tipo" multiple="false" name="tipoEmpleado" [placeholder]="empleado.tipo"
      [(ngModel)]="empleado.tipo" [disabled]="opcion == 'Baja'" [interfaceOptions]="popoverOptions" interface="popover"
      required>
      <ion-select-option value="Cocinero">Cocinero</ion-select-option>
      <ion-select-option value="Bartender">Bartender</ion-select-option>
      <ion-select-option value="Mozo">Mozo</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Se muestra accion segun tipo de llamado al formulario -->
  <ion-button (click)="altaEmpleado()" color="dark" expand="block" type="submit" [disabled]="formulario.invalid"
    *ngIf="opcion == 'Alta'">
    Crear
  </ion-button>

  <ion-button (click)="modificarEmpleado()" color="dark" expand="block" type="submit" [disabled]="formulario.invalid"
    *ngIf="opcion == 'Modificación'">
    Modificar
  </ion-button>

  <ion-button (click)="borrarEmpleado()" color="dark" expand="block" type="submit" *ngIf="opcion == 'Baja'">
    Eliminar
  </ion-button>

</form>