<ion-header>
    <ion-toolbar color="fondo">
        <ion-back-button defaultHref="/" slot="start" icon="arrow-back-circle"></ion-back-button>
        <h3 class="titulo">Lista pedidos</h3>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="todoCompleto" *ngIf="variabledesplegarPedido == true">
        <ion-item class="labels" color="transparent" style="background-color: transparent !important;">
            <ion-label position="stacked" style="color: snow;">INFORMACION DEL PEDIDO:</ion-label>
            <br>
            <div *ngIf="pedidoEnFormatoJSON != null">
                <h5 style="color: snow;">Su pedido son los siguientes platos:</h5>
                <div *ngIf='contadorPlatos != 0'>
                    <h2 style="color: snow;"> Platos principales: </h2>
                    <div style="color: snow;" *ngFor="let plato of pedidoEnFormatoJSON.platosPlato">
                        {{plato}}
                    </div>
                </div>
                <div *ngIf='contadorBebidas != 0'>
                    <h2 style="color: snow;"> Bebidas: </h2>
                    <div style="color: snow;" *ngFor="let plato of pedidoEnFormatoJSON.platosBebida">
                        {{plato}}
                    </div>
                </div>
                <div *ngIf='contadorPostres != 0'>
                    <h2 style="color: snow;"> Postres: </h2>
                    <div style="color: snow;" *ngFor="let plato of pedidoEnFormatoJSON.platosPostre">
                        {{plato}}
                    </div>
                </div>
                <p class="alineacion-derecha-platito"> Precio total:
                    <span class="precio"> ${{pedidoEnFormatoJSON.precioTotal}}</span>
                </p>
                <p class="alineacion-derecha-platito"> Tiempo total:
                    <span class="precio"> {{pedidoEnFormatoJSON.tiempoTotal[0]}} minutos</span>
                </p>
            </div>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-button (click)="confirmarPedido()" color="success" expand="block">Confirmar</ion-button>
                </ion-col>
                <ion-col col-6>
                    <ion-button (click)=" cancelarPedido()" color="warning" expand="block">Cancelar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card-content>
            <ion-button (click)="desplegarInversoPedido()" expand="block" color="danger">Cerrar</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card style="background: snow" (click)="divMostrarPlatoPrincipal()">
        <ion-card-content>
            <p class="alineacion-derecha">
                <ion-icon name="pizza-outline"></ion-icon> PLATOS PRINCIPALES <span class="precio">Cantidad pedida: {{contadorPlatos}}</span>
            </p>
        </ion-card-content>
    </ion-card>
    <div *ngFor="let producto of listaProductosTipoPlato">
        <ion-card style="background-color: rgba(0, 0, 0, 0.568);" *ngIf="mostrarPlatoPrincipal == true">
            <ion-card-content align="center" style="font-size: 20px;color: white; background-color: black;">
                <p class="alineacion-derecha-platito">{{producto.nombre}}
                    <span class="tiempo" *ngIf="producto.nombre == 'Hamburguesa'"> Cantidad :{{cantidadJson.cantHamb}}</span>
                    <span class="tiempo" *ngIf="producto.nombre == 'Pizza'">Cantidad :{{cantidadJson.cantPizza}}</span>
                </p>
            </ion-card-content>
            <ion-item color="transparent" style="background-color: transparent !important; color: transparent;">
                <ion-slides pager="true">
                    <ion-slide>
                        <img [src]="producto.fotos[2]" style=" height: 90%; width: 90%">
                    </ion-slide>
                    <ion-slide>
                        <img [src]="producto.fotos[1]" style=" height: 90%; width: 90%">
                    </ion-slide>
                    <ion-slide>
                        <img [src]="producto.fotos[2]" style=" height: 90%; width: 90%">
                    </ion-slide>
                </ion-slides>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-button (click)="cargarJSONPedidosPlatos(producto.nombre, producto.tipo, producto.precio, producto.tiempo)" expand="block" color="success">
                                <ion-icon name="add-circle-outline"></ion-icon>Agregar
                            </ion-button>
                        </ion-col>
                        <ion-col col-6>
                            <ion-button (click)="removerJSONPedidosPlatos(producto.nombre, producto.tipo, producto.precio, producto.tiempo)" expand="block" color="danger">
                                <ion-icon name="remove-circle-outline"></ion-icon>Eliminar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-label>
                    <h1>{{producto.nombre}} = {{pickedCant}}</h1>
                </ion-label>
            </ion-item>
        </ion-card>
    </div>
    <ion-card style="background: snow" (click)="divMostrarBebida()">
        <ion-card-content>
            <p class="alineacion-derecha">
                <ion-icon name="wine-outline"></ion-icon>BEBIDAS <span class="precio">Cantidad pedida: {{contadorBebidas}}</span>
            </p>
        </ion-card-content>
    </ion-card>
    <div *ngFor="let bebida of listaProductosTipoBebida">
        <ion-card style="background-color: rgba(0, 0, 0, 0.568);" *ngIf="mostrarBebida == true">
            <ion-card-content align="center" style="font-size: 20px;color: white; background-color: black;">
                <p class="alineacion-derecha-platito"> {{bebida.nombre}}
                    <span class="tiempo"> Cantidad :{{cantidadJson.cantPepsi}}</span>
                </p>
                <div style="font-size: 20px;color: white;">
                </div>
            </ion-card-content>
            <ion-item color="transparent" style="background-color: transparent !important; color: transparent;">
                <ion-slides pager="true">
                    <ion-slide>
                        <img [src]="bebida.fotos[2]" style=" height: 90%; width: 90%">
                    </ion-slide>
                    <ion-slide>
                        <img [src]="bebida.fotos[1]" style=" height: 90%; width: 90%">
                    </ion-slide>
                    <ion-slide>
                        <img [src]="bebida.fotos[2]" style=" height: 90%; width: 90%">
                    </ion-slide>
                </ion-slides>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-button (click)="cargarJSONPedidosPlatos(bebida.nombre, bebida.tipo, bebida.precio, bebida.tiempo)" expand="block" color="success">
                                <ion-icon name="add-circle-outline"></ion-icon>Agregar
                            </ion-button>
                        </ion-col>
                        <ion-col col-6>
                            <ion-button (click)="removerJSONPedidosPlatos(bebida.nombre, bebida.tipo, bebida.precio, bebida.tiempo)" expand="block" color="danger">
                                <ion-icon name="remove-circle-outline"></ion-icon>Eliminar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-label>
                    <h1>{{bebida.nombre}} = {{pickedCant}}</h1>
                </ion-label>
            </ion-item>
        </ion-card>
    </div>
    <ion-card style="background: snow" (click)="divMostrarPostre()">
        <ion-card-content>
            <p class="alineacion-derecha">
                <ion-icon name="ice-cream-outline"></ion-icon>POSTRES <span class="precio">Cantidad pedida: {{contadorPostres}}</span>
            </p>
        </ion-card-content>
    </ion-card>
    <div *ngFor="let postre of listaProductosTipoPostre">
        <ion-card style="background-color: rgba(0, 0, 0, 0.568);" *ngIf="mostrarPostre == true">
            <ion-card-content align="center" style="font-size: 20px;color: white; background-color: black;">
                <p class="alineacion-derecha-platito">{{postre.nombre}}
                    <span class="tiempo" *ngIf="postre.nombre == 'Volcan de chocolate'">Cantidad :{{cantidadJson.cantVolc}}</span>
                    <span class="tiempo" *ngIf="postre.nombre == 'Pastel de limón'"> Cantidad :{{cantidadJson.cantLemon}}</span>
                </p>
            </ion-card-content>
            <ion-item color="transparent" style="background-color: transparent !important; color: transparent;">
                <ion-slides pager="true">
                    <ion-slide>
                        <img [src]="postre.fotos[2]" style=" height: 90%; width: 90%">
                    </ion-slide>
                    <ion-slide>
                        <img [src]="postre.fotos[1]" style=" height: 90%; width: 90%">
                    </ion-slide>
                    <ion-slide>
                        <img [src]="postre.fotos[2]" style=" height: 90%; width: 90%">
                    </ion-slide>
                </ion-slides>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-button (click)="cargarJSONPedidosPlatos(postre.nombre, postre.tipo, postre.precio, postre.tiempo)" expand="block" color="success">
                                <ion-icon name="add-circle-outline"></ion-icon>Agregar
                            </ion-button>
                        </ion-col>
                        <ion-col col-6>
                            <ion-button (click)="removerJSONPedidosPlatos(postre.nombre, postre.tipo, postre.precio, postre.tiempo)" expand="block" color="danger">
                                <ion-icon name="remove-circle-outline"></ion-icon>Eliminar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-label>
                    <h1>{{postre.nombre}} = {{pickedCant}}</h1>
                </ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>
<ion-footer>
    <ion-button (click)="desplegarPedido()" color="success" expand="block">CONFIRMAR PEDIDO</ion-button>
    <ion-item color="danger" expand="block">TIEMPO TOTAL - Aprox: {{pedidoEnFormatoJSON.tiempoTotal[0]}} min</ion-item>
    <ion-item color="success" expand="block">PRECIO TOTAL: ${{pedidoEnFormatoJSON.precioTotal}}</ion-item>
</ion-footer>