<ion-content>
  <form>
    <ion-grid fixed>
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row color="primary">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3 class="title">Registro</h3>
          </div>
          
          <div class="ion-padding">
            <ion-item class="inputForm">
              <ion-label>Tipo de registro</ion-label>
              <ion-select [(ngModel)]="tipoRegisto" cancelText="Cancelar" okText="Listo" name = "selec">
                <ion-select-option value="completo">Completo</ion-select-option>
                <ion-select-option value="anonimo">Anonimo</ion-select-option>
                <ion-select-option value="qr">Escanear</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          
          <div class="ion-padding">

            <div *ngIf="tipoRegisto">

              <ion-item class="inputForm ion-align-items-end" (click)="SacarFoto()">
                <ion-label class="ion-align-self-center">Sacar Foto</ion-label>
                <ion-icon name="camera-outline" slot="end" size="large"></ion-icon>
              </ion-item>
              <ion-img *ngIf="fotoSacada" [src]="fotoSacada" alt="fot" class="ion-margin-bottom" width="100%"></ion-img>

              <ion-item class="inputForm">
                <ion-label position="floating">Correo</ion-label>
                <ion-input name="email" type="email" [(ngModel)]="usuario.mail"></ion-input>
              </ion-item>
    
              <ion-item class="inputForm">
                <ion-label position="floating">Clave</ion-label>
                <ion-input name="password" type="password" [(ngModel)]="usuario.password"></ion-input>
              </ion-item>

              <div *ngIf="tipoRegisto!='qr'; else registroQr">
                <ion-item class="inputForm">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name="name" type="text" [(ngModel)]="cliente.nombre"></ion-input>
                </ion-item>
              </div>

              <div *ngIf="tipoRegisto=='completo'">
                <ion-item class="inputForm">
                  <ion-label position="floating">Apellido</ion-label>
                  <ion-input name="apellido" type="text" [(ngModel)]="cliente.apellido"></ion-input>
               </ion-item>
               <ion-item class="inputForm">
                <ion-label position="floating">Dni</ion-label>
                  <ion-input name="dni" type="text" [(ngModel)]="dniString"></ion-input>
               </ion-item>
              </div>         
              
              <ng-template #registroQr>
                <div *ngIf="tipoRegisto=='qr'">
                  <ion-button
                  *ngIf="!datosQrCargados" 
                  size="large" 
                  (click)="Escanear()" 
                  expand="block">
                  Escanear Dni
                  </ion-button>
                </div>
                <ion-row *ngIf="datosQrCargados" class="ion-justify-content-center">
                  <a>!Datos escaneados correctamente!</a>
                </ion-row>
              </ng-template>    
            </div>                  

          </div>


          <div class="ion-padding">
            <ion-button 
            (click)="Registrar()"
              size="large" 
              type="submit" 
              expand="block">
              Registrar
            </ion-button>
            <ion-button 
              size="large" 
              (click)="Limpiar()" 
              expand="block">
              Limpiar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <a (click)="IrLogin()">!Ya tengo cuenta!</a>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>