<div class="ion-activatable card-mesa">
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Mesa:{{ mesa.numero }}</ion-card-title>
    </ion-card-header>

    <ion-img [src]="mesa.foto.url"></ion-img>

    <ion-card-content>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Tipo:{{ mesa.tipo }}</ion-label>
      </ion-chip>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Personas:{{ mesa.comensales }}</ion-label>
      </ion-chip>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Disponible:{{ mesa.isAvailable }}</ion-label>
      </ion-chip>
    </ion-card-content>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
</div>