/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.botones-form {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

.fondo{
    --background:  url("assets/img/madera.jpg") no-repeat center center / cover ; 

}

.contenido
{
  background: rgba(255,255,255,0.5);
  opacity: 90%;
  color: black;

  #img-boton
  {
      border-radius: 20px !important;
      background-color: var( --ion-color-dark ) !important;
  }

  ion-img{
    opacity: 100% !important;
  }
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.centrado{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;

}

.in-segment-color
{
  background-color: var( --ion-color-dark ) !important;
  color: var( --ion-color-light ) !important;
}



.action-sheet-options, .action-sheet-button {
  --background: var( --ion-color-dark ) !important;
  --button-color: var( --ion-color-dark ) !important;
}

.sc-ion-action-sheet-ios-h {
  --background: var(--ion-overlay-background-color, var(--ion-color-step-100, #f9f9f9));
  --button-background: linear-gradient(0deg, rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08), rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08) 50%, transparent 50%) bottom/100% 1px no-repeat transparent;
  --color: var( --ion-color-dark);
  --button-background-selected: var(--ion-text-color) transparent !important;
  --button-color-selected: var(--ion-text-color) transparent !important;
}

.action-sheet-translucent.sc-ion-action-sheet-ios-h .action-sheet-cancel.sc-ion-action-sheet-ios {
  background: var(--button-background-selected);
  color: var(--ion-color-light);
}

.action-sheet-translucent.sc-ion-action-sheet-ios-h .action-sheet-button.sc-ion-action-sheet-ios {
  background: var(--button-background-selected);
  color: var(--ion-color-light);
}

.mensaje{
  padding: 10px !important;
  border-radius: 5px !important;
  margin-bottom: 4px !important;
  white-space: pre-wrap;
  background: var(--ion-color-light);
  color: var(--ion-color-dark);
}

.pendiente{
  --color : var(--ion-color-light);
}

.entregado{
  --color : var(--ion-color-success);
}

// CUSTOM ANIMATION KEYFRAMS********************
@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
@keyframes spinner-animation {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
// CUSTOM ANIMATION KEYFRAMS********************

.spinner-animation {
  -webkit-animation: spinner-animation 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) infinite alternate both;
  animation: spinner-animation 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) infinite alternate both;
  background-color: transparent !important;
  --background: transparent !important;
 
  
}

.sc-ion-loading-ios-h
{
  color: transparent !important;
  background-color: transparent !important;
  --background: transparent !important;
  opacity: 80% !important;
  --spinner-color: var(--ion-color-success) !important; 
}

.spinner{
  border-radius: 50% !important;
}

.promptLogin{
  --background: var(--ion-color-dark) !important;
  --color: var(--ion-color-light) !important;
  opacity: 98% !important;
}

.alert-button-inner.sc-ion-alert-md{
  color: var(--ion-color-light) !important;
  --color: var(--ion-color-light) !important;
}

.sc-ion-loading-md-h 
{
  --spinner-color: var(--ion-color-success) !important; 
}