<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Botones para prueba</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list color="dark">
    <ion-list-header>
      <ion-label>Sólo para probar pages</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button routerLink="/home/menu-mesa" expand="block" fill="clear" shape="round">
        Menú mesa
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/menu-cliente" expand="block" fill="clear" shape="round">
        Menú Cliente
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/menu-empleado" expand="block" fill="clear" shape="round">
        Menú Empleado
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/menu-jefe" expand="block" fill="clear" shape="round">
        Menú Jefe
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/menu-producto" expand="block" fill="clear" shape="round">
        Menú producto
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/menu-pedidos" expand="block" fill="clear" shape="round">
        Menú Pedido
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/qr-ingreso-local" expand="block" fill="clear" shape="round">
        Qr ingreso al local
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/menu-reserva" expand="block" fill="clear" shape="round">
        Menú reserva
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/login" expand="block" fill="clear" shape="round">
        Iniciar Sesión
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/register" expand="block" fill="clear" shape="round">
        Registro
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/lista-de-espera" expand="block" fill="clear" shape="round">
        Lista de Espera
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/info-ingreso" expand="block" fill="clear" shape="round">
        Info-ingreso
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/info-mesa/1" expand="block" fill="clear" shape="round">
        Info-mesa
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="verChat()" expand="block" fill="clear" shape="round">
        Chat mozo
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/home/clientes-pendientes" expand="block" fill="clear" shape="round">
        Clientes-pendientes
      </ion-button>
    </ion-item>

  </ion-list>
  <!--  -->

</ion-content>