<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Botones para prueba</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Código para prueba -->
  <ion-list>
    <ion-list-header>
      <ion-label>Sólo para probar pages</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button (click)="escanear()" expand="block" fill="clear" shape="round">
        Escaner QR
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/menu-mesa" expand="block" fill="clear" shape="round">
        Menú mesa
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/menu-empleado" expand="block" fill="clear" shape="round">
        Menú Empleado
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/menu-jefe" expand="block" fill="clear" shape="round">
        Menú Jefe
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/menu-producto" expand="block" fill="clear" shape="round">
        Menú producto
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/menu-pedidos" expand="block" fill="clear" shape="round">
        Menú Pedido
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/qr-ingreso-local" expand="block" fill="clear" shape="round">
        Qr ingreso al local
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/menu-reserva" expand="block" fill="clear" shape="round">
        Menú reserva
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/login" expand="block" fill="clear" shape="round">
        Iniciar Sesión
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button routerLink="/register" expand="block" fill="clear" shape="round">
        Registro
      </ion-button>
    </ion-item>

  </ion-list>
  <!--  -->

</ion-content>