.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: 2%;
}

ion-card-header {
    padding: 3%;
}

ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
}