<div class="ion-activatable centrado">
  <ion-card color="dark">

    <ion-item>
      <ion-avatar *ngIf="cliente.foto && cliente.foto.url" slot="end" (click)="verFoto(cliente.foto)">
        <img [src]="cliente.foto.url">
      </ion-avatar>
      <ion-label>{{ cliente.nombre }} {{ cliente.apellido }}</ion-label>
    </ion-item>

    <ion-card-content color="dark">
      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>DNI: {{ cliente.dni }}</ion-label>
      </ion-chip>

      <ion-chip color="light" mode="ios" outline="true">
        <ion-label>Correo Electrónico: {{ cliente.email }}</ion-label>
      </ion-chip>
    </ion-card-content>

    <div class="buttons-container" *ngIf="pendiente">
      <div>
        <ion-button class="botones" (click)="aceptarCliente()" size="default" fill="solid" color="success">
          Aceptar
        </ion-button>
        <ion-button class="botones" (click)="rechazarCliente()" size="default" fill="solid" color="danger">
          Rechazar
        </ion-button>
      </div>
    </div>

  </ion-card>
</div>